<% title "MTG Cards" %>

<h1>Listing MTG Cards</h1>

<% @mtg_cards.each do |mtg_card| %>
  <tr>
    <%= image_tag(mtg_card.image_path)%>
    <td><%= link_to 'Show', mtg_card %></td>
  </tr>
<% end %>
</table>

<br />
