<select class="search-select chzn-select" id="subtype" name="subtype">
  <option value="">Subtype...</option>
  <option value="Ajani">Ajani</option>
  <option value="Alara">Alara</option>
  <option value="Angel">Angel</option>
  <option value="Angel Horror">Angel Horror</option>
  <option value="Angel Spirit">Angel Spirit</option>
  <option value="Angel Warrior">Angel Warrior</option>
  <option value="Anteater Beast">Anteater Beast</option>
  <option value="Antelope">Antelope</option>
  <option value="Antelope Beast">Antelope Beast</option>
  <option value="Ape">Ape</option>
  <option value="Ape Berserker">Ape Berserker</option>
  <option value="Ape Shaman">Ape Shaman</option>
  <option value="Ape Spirit">Ape Spirit</option>
  <option value="Ape Warrior">Ape Warrior</option>
  <option value="Arcane">Arcane</option>
  <option value="Archon">Archon</option>
  <option value="Arkhos">Arkhos</option>
  <option value="Artificer">Artificer</option>
  <option value="Assembly-Worker">Assembly-Worker</option>
  <option value="Atog">Atog</option>
  <option value="Aura">Aura</option>
  <option value="Aura Curse">Aura Curse</option>
  <option value="Aurochs">Aurochs</option>
  <option value="Avatar">Avatar</option>
  <option value="Avatar Incarnation">Avatar Incarnation</option>
  <option value="Avatar Praetor">Avatar Praetor</option>
  <option value="Badger">Badger</option>
  <option value="Badger Beast">Badger Beast</option>
  <option value="Barbarian Zombie">Barbarian Zombie</option>
  <option value="Basilisk">Basilisk</option>
  <option value="Basilisk Mutant">Basilisk Mutant</option>
  <option value="Bat">Bat</option>
  <option value="Bear">Bear</option>
  <option value="Bear Illusion">Bear Illusion</option>
  <option value="Bear Spirit">Bear Spirit</option>
  <option value="Beast">Beast</option>
  <option value="Beast Mutant">Beast Mutant</option>
  <option value="Beast Warrior">Beast Warrior</option>
  <option value="Beeble">Beeble</option>
  <option value="Berserker">Berserker</option>
  <option value="Bird">Bird</option>
  <option value="Bird Ally">Bird Ally</option>
  <option value="Bird Beast">Bird Beast</option>
  <option value="Bird Cleric">Bird Cleric</option>
  <option value="Bird Horror">Bird Horror</option>
  <option value="Bird Mercenary">Bird Mercenary</option>
  <option value="Bird Rebel Soldier">Bird Rebel Soldier</option>
  <option value="Bird Scout">Bird Scout</option>
  <option value="Bird Shaman">Bird Shaman</option>
  <option value="Bird Skeleton">Bird Skeleton</option>
  <option value="Bird Soldier">Bird Soldier</option>
  <option value="Bird Soldier Archer">Bird Soldier Archer</option>
  <option value="Bird Soldier Horror">Bird Soldier Horror</option>
  <option value="Bird Soldier Spirit">Bird Soldier Spirit</option>
  <option value="Bird Soldier Warrior">Bird Soldier Warrior</option>
  <option value="Bird Soldier Wizard">Bird Soldier Wizard</option>
  <option value="Bird Spirit">Bird Spirit</option>
  <option value="Bird Warrior">Bird Warrior</option>
  <option value="Bird Wizard">Bird Wizard</option>
  <option value="Boar">Boar</option>
  <option value="Boar Beast">Boar Beast</option>
  <option value="Boar Monger">Boar Monger</option>
  <option value="Bolas">Bolas</option>
  <option value="Bolas’s Meditation Realm">Bolas’s Meditation Realm</option>
  <option value="Bringer">Bringer</option>
  <option value="Brushwagg">Brushwagg</option>
  <option value="Camel">Camel</option>
  <option value="Camel Beast">Camel Beast</option>
  <option value="Carrier">Carrier</option>
  <option value="Cat">Cat</option>
  <option value="Cat Ally">Cat Ally</option>
  <option value="Cat Beast">Cat Beast</option>
  <option value="Cat Beast Spirit">Cat Beast Spirit</option>
  <option value="Cat Beast Warrior">Cat Beast Warrior</option>
  <option value="Cat Cleric">Cat Cleric</option>
  <option value="Cat Giant">Cat Giant</option>
  <option value="Cat Knight">Cat Knight</option>
  <option value="Cat Monk">Cat Monk</option>
  <option value="Cat Rebel">Cat Rebel</option>
  <option value="Cat Scout">Cat Scout</option>
  <option value="Cat Soldier">Cat Soldier</option>
  <option value="Cat Spirit">Cat Spirit</option>
  <option value="Cat Warrior">Cat Warrior</option>
  <option value="Cat Wizard">Cat Wizard</option>
  <option value="Centaur">Centaur</option>
  <option value="Centaur Archer">Centaur Archer</option>
  <option value="Centaur Berserker">Centaur Berserker</option>
  <option value="Centaur Druid">Centaur Druid</option>
  <option value="Centaur Druid Scout Archer">Centaur Druid Scout Archer</option>
  <option value="Centaur Horror">Centaur Horror</option>
  <option value="Centaur Shaman">Centaur Shaman</option>
  <option value="Centaur Spellshaper">Centaur Spellshaper</option>
  <option value="Centaur Spirit">Centaur Spirit</option>
  <option value="Centaur Warrior">Centaur Warrior</option>
  <option value="Cephalid">Cephalid</option>
  <option value="Cephalid Rogue">Cephalid Rogue</option>
  <option value="Cephalid Wizard">Cephalid Wizard</option>
  <option value="Cephalid Wizard Scout">Cephalid Wizard Scout</option>
  <option value="Chandra">Chandra</option>
  <option value="Chicken">Chicken</option>
  <option value="Chicken Construct">Chicken Construct</option>
  <option value="Chimera">Chimera</option>
  <option value="Clamfolk">Clamfolk</option>
  <option value="Cleric">Cleric</option>
  <option value="Cleric Avatar">Cleric Avatar</option>
  <option value="Cleric Knight">Cleric Knight</option>
  <option value="Cockatrice">Cockatrice</option>
  <option value="Construct">Construct</option>
  <option value="Cow">Cow</option>
  <option value="Crab">Crab</option>
  <option value="Crab Beast">Crab Beast</option>
  <option value="Crocodile">Crocodile</option>
  <option value="Crocodile Skeleton">Crocodile Skeleton</option>
  <option value="Cyclops">Cyclops</option>
  <option value="Cyclops Giant">Cyclops Giant</option>
  <option value="Cyclops Warrior">Cyclops Warrior</option>
  <option value="Dauthi Horror">Dauthi Horror</option>
  <option value="Dauthi Hound">Dauthi Hound</option>
  <option value="Dauthi Knight Mercenary">Dauthi Knight Mercenary</option>
  <option value="Dauthi Minion">Dauthi Minion</option>
  <option value="Dauthi Soldier">Dauthi Soldier</option>
  <option value="Dauthi Zombie">Dauthi Zombie</option>
  <option value="Demon">Demon</option>
  <option value="Demon Beast">Demon Beast</option>
  <option value="Demon Child">Demon Child</option>
  <option value="Demon Dragon">Demon Dragon</option>
  <option value="Demon Hound">Demon Hound</option>
  <option value="Demon Illusion">Demon Illusion</option>
  <option value="Demon Minion">Demon Minion</option>
  <option value="Demon Spirit">Demon Spirit</option>
  <option value="Desert">Desert</option>
  <option value="Devil">Devil</option>
  <option value="Dinosaur">Dinosaur</option>
  <option value="Djinn">Djinn</option>
  <option value="Dominaria">Dominaria</option>
  <option value="Donkey Barbarian">Donkey Barbarian</option>
  <option value="Donkey Lord">Donkey Lord</option>
  <option value="Donkey Shaman">Donkey Shaman</option>
  <option value="Donkey Townsfolk">Donkey Townsfolk</option>
  <option value="Donkey Wizard">Donkey Wizard</option>
  <option value="Donkey Zombie">Donkey Zombie</option>
  <option value="Dragon">Dragon</option>
  <option value="Dragon Avatar">Dragon Avatar</option>
  <option value="Dragon Illusion">Dragon Illusion</option>
  <option value="Dragon Skeleton">Dragon Skeleton</option>
  <option value="Dragon Spirit">Dragon Spirit</option>
  <option value="Dragon Wizard">Dragon Wizard</option>
  <option value="Dragon Wurm">Dragon Wurm</option>
  <option value="Drake">Drake</option>
  <option value="Dreadnought">Dreadnought</option>
  <option value="Drone">Drone</option>
  <option value="Dryad">Dryad</option>
  <option value="Dryad Shaman">Dryad Shaman</option>
  <option value="Dryad Spellshaper">Dryad Spellshaper</option>
  <option value="Dwarf">Dwarf</option>
  <option value="Dwarf Artificer">Dwarf Artificer</option>
  <option value="Dwarf Barbarian">Dwarf Barbarian</option>
  <option value="Dwarf Berserker">Dwarf Berserker</option>
  <option value="Dwarf Nomad">Dwarf Nomad</option>
  <option value="Dwarf Shaman">Dwarf Shaman</option>
  <option value="Dwarf Soldier">Dwarf Soldier</option>
  <option value="Dwarf Warrior">Dwarf Warrior</option>
  <option value="Dwarf Wizard">Dwarf Wizard</option>
  <option value="Efreet">Efreet</option>
  <option value="Egg">Egg</option>
  <option value="Elder Dragon">Elder Dragon</option>
  <option value="Eldrazi">Eldrazi</option>
  <option value="Eldrazi Aura">Eldrazi Aura</option>
  <option value="Eldrazi Drone">Eldrazi Drone</option>
  <option value="Elemental">Elemental</option>
  <option value="Elemental Beast">Elemental Beast</option>
  <option value="Elemental Berserker">Elemental Berserker</option>
  <option value="Elemental Bird">Elemental Bird</option>
  <option value="Elemental Boar">Elemental Boar</option>
  <option value="Elemental Boar Beast">Elemental Boar Beast</option>
  <option value="Elemental Cat">Elemental Cat</option>
  <option value="Elemental Horror">Elemental Horror</option>
  <option value="Elemental Horse">Elemental Horse</option>
  <option value="Elemental Hound">Elemental Hound</option>
  <option value="Elemental Incarnation">Elemental Incarnation</option>
  <option value="Elemental Insect">Elemental Insect</option>
  <option value="Elemental Knight">Elemental Knight</option>
  <option value="Elemental Lizard">Elemental Lizard</option>
  <option value="Elemental Minion">Elemental Minion</option>
  <option value="Elemental Mutant">Elemental Mutant</option>
  <option value="Elemental Ox">Elemental Ox</option>
  <option value="Elemental Ox Beast">Elemental Ox Beast</option>
  <option value="Elemental Rogue">Elemental Rogue</option>
  <option value="Elemental Scout">Elemental Scout</option>
  <option value="Elemental Serpent">Elemental Serpent</option>
  <option value="Elemental Shaman">Elemental Shaman</option>
  <option value="Elemental Shapeshifter">Elemental Shapeshifter</option>
  <option value="Elemental Skeleton">Elemental Skeleton</option>
  <option value="Elemental Spellshaper">Elemental Spellshaper</option>
  <option value="Elemental Spirit">Elemental Spirit</option>
  <option value="Elemental Warrior">Elemental Warrior</option>
  <option value="Elemental Warrior Shaman">Elemental Warrior Shaman</option>
  <option value="Elephant">Elephant</option>
  <option value="Elephant Cleric">Elephant Cleric</option>
  <option value="Elephant Monk">Elephant Monk</option>
  <option value="Elephant Rogue">Elephant Rogue</option>
  <option value="Elephant Soldier">Elephant Soldier</option>
  <option value="Elephant Townsfolk">Elephant Townsfolk</option>
  <option value="Elephant Wizard">Elephant Wizard</option>
  <option value="Elephant Wurm">Elephant Wurm</option>
  <option value="Elf">Elf</option>
  <option value="Elf Archer">Elf Archer</option>
  <option value="Elf Archer Ally">Elf Archer Ally</option>
  <option value="Elf Artificer">Elf Artificer</option>
  <option value="Elf Assassin">Elf Assassin</option>
  <option value="Elf Avatar">Elf Avatar</option>
  <option value="Elf Barbarian">Elf Barbarian</option>
  <option value="Elf Berserker">Elf Berserker</option>
  <option value="Elf Cleric">Elf Cleric</option>
  <option value="Elf Cleric Druid">Elf Cleric Druid</option>
  <option value="Elf Druid">Elf Druid</option>
  <option value="Elf Druid Archer">Elf Druid Archer</option>
  <option value="Elf Druid Scout">Elf Druid Scout</option>
  <option value="Elf Druid Shaman">Elf Druid Shaman</option>
  <option value="Elf Druid Warrior">Elf Druid Warrior</option>
  <option value="Elf Knight">Elf Knight</option>
  <option value="Elf Merfolk">Elf Merfolk</option>
  <option value="Elf Mutant">Elf Mutant</option>
  <option value="Elf Nomad">Elf Nomad</option>
  <option value="Elf Rogue">Elf Rogue</option>
  <option value="Elf Rogue Ally">Elf Rogue Ally</option>
  <option value="Elf Scout">Elf Scout</option>
  <option value="Elf Scout Ally">Elf Scout Ally</option>
  <option value="Elf Shaman">Elf Shaman</option>
  <option value="Elf Shaman Ally">Elf Shaman Ally</option>
  <option value="Elf Soldier">Elf Soldier</option>
  <option value="Elf Spellshaper">Elf Spellshaper</option>
  <option value="Elf Spirit">Elf Spirit</option>
  <option value="Elf Warrior">Elf Warrior</option>
  <option value="Elf Warrior Druid">Elf Warrior Druid</option>
  <option value="Elf Warrior Scout">Elf Warrior Scout</option>
  <option value="Elf Warrior Shaman">Elf Warrior Shaman</option>
  <option value="Elf Wizard">Elf Wizard</option>
  <option value="Elf Wizard Shaman">Elf Wizard Shaman</option>
  <option value="Elk">Elk</option>
  <option value="Elk Beast">Elk Beast</option>
  <option value="Elspeth">Elspeth</option>
  <option value="Elves">Elves</option>
  <option value="Equilor">Equilor</option>
  <option value="Equipment">Equipment</option>
  <option value="Eye">Eye</option>
  <option value="Faerie">Faerie</option>
  <option value="Faerie Artificer">Faerie Artificer</option>
  <option value="Faerie Assassin">Faerie Assassin</option>
  <option value="Faerie Druid">Faerie Druid</option>
  <option value="Faerie Knight">Faerie Knight</option>
  <option value="Faerie Rogue">Faerie Rogue</option>
  <option value="Faerie Scout">Faerie Scout</option>
  <option value="Faerie Soldier">Faerie Soldier</option>
  <option value="Faerie Spellshaper">Faerie Spellshaper</option>
  <option value="Faerie Wizard">Faerie Wizard</option>
  <option value="Ferret">Ferret</option>
  <option value="Fish">Fish</option>
  <option value="Fish Beast">Fish Beast</option>
  <option value="Forest">Forest</option>
  <option value="Forest Dryad">Forest Dryad</option>
  <option value="Forest Island">Forest Island</option>
  <option value="Forest Plains">Forest Plains</option>
  <option value="Fortification">Fortification</option>
  <option value="Fox">Fox</option>
  <option value="Fox Cleric">Fox Cleric</option>
  <option value="Fox Monk">Fox Monk</option>
  <option value="Fox Samurai">Fox Samurai</option>
  <option value="Fox Wizard">Fox Wizard</option>
  <option value="Frog">Frog</option>
  <option value="Frog Beast">Frog Beast</option>
  <option value="Frog Mutant">Frog Mutant</option>
  <option value="Fungus">Fungus</option>
  <option value="Fungus Beast">Fungus Beast</option>
  <option value="Fungus Demon">Fungus Demon</option>
  <option value="Fungus Elemental">Fungus Elemental</option>
  <option value="Fungus Lizard">Fungus Lizard</option>
  <option value="Fungus Shaman">Fungus Shaman</option>
  <option value="Fungus Sliver">Fungus Sliver</option>
  <option value="Fungus Snake">Fungus Snake</option>
  <option value="Fungus Wall">Fungus Wall</option>
  <option value="Gargoyle">Gargoyle</option>
  <option value="Garruk">Garruk</option>
  <option value="Giant">Giant</option>
  <option value="Giant Berserker">Giant Berserker</option>
  <option value="Giant Cleric">Giant Cleric</option>
  <option value="Giant Druid">Giant Druid</option>
  <option value="Giant Minion">Giant Minion</option>
  <option value="Giant Rogue">Giant Rogue</option>
  <option value="Giant Scout">Giant Scout</option>
  <option value="Giant Shaman">Giant Shaman</option>
  <option value="Giant Soldier">Giant Soldier</option>
  <option value="Giant Warrior">Giant Warrior</option>
  <option value="Giant Wizard">Giant Wizard</option>
  <option value="Gideon">Gideon</option>
  <option value="Gnome">Gnome</option>
  <option value="Goat">Goat</option>
  <option value="Goat Beast">Goat Beast</option>
  <option value="Goblin">Goblin</option>
  <option value="Goblin Advisor">Goblin Advisor</option>
  <option value="Goblin Artificer">Goblin Artificer</option>
  <option value="Goblin Artificer Ally">Goblin Artificer Ally</option>
  <option value="Goblin Assassin">Goblin Assassin</option>
  <option value="Goblin Avatar">Goblin Avatar</option>
  <option value="Goblin Berserker">Goblin Berserker</option>
  <option value="Goblin Knight">Goblin Knight</option>
  <option value="Goblin Mercenary">Goblin Mercenary</option>
  <option value="Goblin Mime">Goblin Mime</option>
  <option value="Goblin Mutant">Goblin Mutant</option>
  <option value="Goblin Rigger">Goblin Rigger</option>
  <option value="Goblin Rogue">Goblin Rogue</option>
  <option value="Goblin Rogue Shaman">Goblin Rogue Shaman</option>
  <option value="Goblin Scout">Goblin Scout</option>
  <option value="Goblin Shaman">Goblin Shaman</option>
  <option value="Goblin Soldier">Goblin Soldier</option>
  <option value="Goblin Spellshaper">Goblin Spellshaper</option>
  <option value="Goblin Waiter">Goblin Waiter</option>
  <option value="Goblin Warrior">Goblin Warrior</option>
  <option value="Goblin Warrior Ally">Goblin Warrior Ally</option>
  <option value="Goblin Warrior Shaman">Goblin Warrior Shaman</option>
  <option value="Goblin Wizard">Goblin Wizard</option>
  <option value="Goblin Zombie">Goblin Zombie</option>
  <option value="Goblins">Goblins</option>
  <option value="Golem">Golem</option>
  <option value="Golem Construct">Golem Construct</option>
  <option value="Golem Warrior">Golem Warrior</option>
  <option value="Gorgon">Gorgon</option>
  <option value="Gorgon Wizard">Gorgon Wizard</option>
  <option value="Gremlin">Gremlin</option>
  <option value="Griffin">Griffin</option>
  <option value="Gus">Gus</option>
  <option value="Hag">Hag</option>
  <option value="Hag Shaman">Hag Shaman</option>
  <option value="Hag Wizard">Hag Wizard</option>
  <option value="Harpy Beast">Harpy Beast</option>
  <option value="Harpy Mercenary">Harpy Mercenary</option>
  <option value="Hellion">Hellion</option>
  <option value="Hellion Beast">Hellion Beast</option>
  <option value="Hellion Hydra">Hellion Hydra</option>
  <option value="Hippo">Hippo</option>
  <option value="Hippogriff">Hippogriff</option>
  <option value="Homarid">Homarid</option>
  <option value="Homarid Drone">Homarid Drone</option>
  <option value="Homarid Shaman">Homarid Shaman</option>
  <option value="Homarid Warrior">Homarid Warrior</option>
  <option value="Homunculus">Homunculus</option>
  <option value="Homunculus Illusion">Homunculus Illusion</option>
  <option value="Horror">Horror</option>
  <option value="Horror Mercenary">Horror Mercenary</option>
  <option value="Horror Spellshaper">Horror Spellshaper</option>
  <option value="Horror Spirit">Horror Spirit</option>
  <option value="Horse">Horse</option>
  <option value="Horse Rebel">Horse Rebel</option>
  <option value="Hound">Hound</option>
  <option value="Hound Spirit">Hound Spirit</option>
  <option value="Human">Human</option>
  <option value="Human Advisor">Human Advisor</option>
  <option value="Human Advisor Mutant">Human Advisor Mutant</option>
  <option value="Human Advisor Werewolf">Human Advisor Werewolf</option>
  <option value="Human Archer">Human Archer</option>
  <option value="Human Archer Minion">Human Archer Minion</option>
  <option value="Human Archer Werewolf">Human Archer Werewolf</option>
  <option value="Human Artificer">Human Artificer</option>
  <option value="Human Assassin">Human Assassin</option>
  <option value="Human Barbarian">Human Barbarian</option>
  <option value="Human Barbarian Beast">Human Barbarian Beast</option>
  <option value="Human Barbarian Horror">Human Barbarian Horror</option>
  <option value="Human Barbarian Shaman">Human Barbarian Shaman</option>
  <option value="Human Barbarian Soldier">Human Barbarian Soldier</option>
  <option value="Human Barbarian Warrior">Human Barbarian Warrior</option>
  <option value="Human Bear Druid">Human Bear Druid</option>
  <option value="Human Beast Soldier">Human Beast Soldier</option>
  <option value="Human Berserker">Human Berserker</option>
  <option value="Human Berserker Ally">Human Berserker Ally</option>
  <option value="Human Bird">Human Bird</option>
  <option value="Human Bureaucrat">Human Bureaucrat</option>
  <option value="Human Child">Human Child</option>
  <option value="Human Cleric">Human Cleric</option>
  <option value="Human Cleric Ally">Human Cleric Ally</option>
  <option value="Human Cleric Archer">Human Cleric Archer</option>
  <option value="Human Cleric Avatar">Human Cleric Avatar</option>
  <option value="Human Cleric Druid">Human Cleric Druid</option>
  <option value="Human Cleric Knight">Human Cleric Knight</option>
  <option value="Human Cleric Mercenary">Human Cleric Mercenary</option>
  <option value="Human Cleric Minion">Human Cleric Minion</option>
  <option value="Human Cleric Mutant">Human Cleric Mutant</option>
  <option value="Human Cleric Shaman">Human Cleric Shaman</option>
  <option value="Human Cleric Soldier">Human Cleric Soldier</option>
  <option value="Human Cleric Wizard">Human Cleric Wizard</option>
  <option value="Human Designer">Human Designer</option>
  <option value="Human Druid">Human Druid</option>
  <option value="Human Druid Ally">Human Druid Ally</option>
  <option value="Human Druid Knight">Human Druid Knight</option>
  <option value="Human Druid Shaman">Human Druid Shaman</option>
  <option value="Human Druid Warrior">Human Druid Warrior</option>
  <option value="Human Druid Wizard">Human Druid Wizard</option>
  <option value="Human Flagbearer">Human Flagbearer</option>
  <option value="Human Gamer">Human Gamer</option>
  <option value="Human Hero">Human Hero</option>
  <option value="Human Horror">Human Horror</option>
  <option value="Human Insect">Human Insect</option>
  <option value="Human Knight">Human Knight</option>
  <option value="Human Knight Ally">Human Knight Ally</option>
  <option value="Human Mercenary">Human Mercenary</option>
  <option value="Human Mercenary Assassin">Human Mercenary Assassin</option>
  <option value="Human Mercenary Knight">Human Mercenary Knight</option>
  <option value="Human Mercenary Rebel">Human Mercenary Rebel</option>
  <option value="Human Minion">Human Minion</option>
  <option value="Human Monger">Human Monger</option>
  <option value="Human Monk">Human Monk</option>
  <option value="Human Monk Cleric">Human Monk Cleric</option>
  <option value="Human Mutant">Human Mutant</option>
  <option value="Human Mystic">Human Mystic</option>
  <option value="Human Nightmare Barbarian">Human Nightmare Barbarian</option>
  <option value="Human Ninja">Human Ninja</option>
  <option value="Human Nomad">Human Nomad</option>
  <option value="Human Nomad Cleric">Human Nomad Cleric</option>
  <option value="Human Nomad Horror">Human Nomad Horror</option>
  <option value="Human Nomad Mystic">Human Nomad Mystic</option>
  <option value="Human Pirate">Human Pirate</option>
  <option value="Human Pirate Scout">Human Pirate Scout</option>
  <option value="Human Pirate Warrior">Human Pirate Warrior</option>
  <option value="Human Pirate Wizard">Human Pirate Wizard</option>
  <option value="Human Rat Minion">Human Rat Minion</option>
  <option value="Human Rebel">Human Rebel</option>
  <option value="Human Rebel Assassin">Human Rebel Assassin</option>
  <option value="Human Rebel Cleric">Human Rebel Cleric</option>
  <option value="Human Rebel Knight">Human Rebel Knight</option>
  <option value="Human Rebel Mercenary">Human Rebel Mercenary</option>
  <option value="Human Rebel Rogue">Human Rebel Rogue</option>
  <option value="Human Rebel Scout">Human Rebel Scout</option>
  <option value="Human Rebel Warrior">Human Rebel Warrior</option>
  <option value="Human Rogue">Human Rogue</option>
  <option value="Human Rogue Ally">Human Rogue Ally</option>
  <option value="Human Rogue Mercenary">Human Rogue Mercenary</option>
  <option value="Human Rogue Rigger">Human Rogue Rigger</option>
  <option value="Human Rogue Werewolf">Human Rogue Werewolf</option>
  <option value="Human Samurai">Human Samurai</option>
  <option value="Human Samurai Archer">Human Samurai Archer</option>
  <option value="Human Scout">Human Scout</option>
  <option value="Human Shaman">Human Shaman</option>
  <option value="Human Shaman Ally">Human Shaman Ally</option>
  <option value="Human Shaman Werewolf">Human Shaman Werewolf</option>
  <option value="Human Soldier">Human Soldier</option>
  <option value="Human Soldier Ally">Human Soldier Ally</option>
  <option value="Human Soldier Archer">Human Soldier Archer</option>
  <option value="Human Soldier Assassin">Human Soldier Assassin</option>
  <option value="Human Soldier Berserker">Human Soldier Berserker</option>
  <option value="Human Soldier Knight">Human Soldier Knight</option>
  <option value="Human Soldier Rebel">Human Soldier Rebel</option>
  <option value="Human Soldier Rogue">Human Soldier Rogue</option>
  <option value="Human Soldier Scout">Human Soldier Scout</option>
  <option value="Human Soldier Warrior">Human Soldier Warrior</option>
  <option value="Human Spellshaper">Human Spellshaper</option>
  <option value="Human Spellshaper Assassin">Human Spellshaper Assassin</option>
  <option value="Human Spellshaper Warrior">Human Spellshaper Warrior</option>
  <option value="Human Warrior">Human Warrior</option>
  <option value="Human Warrior Ally">Human Warrior Ally</option>
  <option value="Human Warrior Werewolf">Human Warrior Werewolf</option>
  <option value="Human Werewolf">Human Werewolf</option>
  <option value="Human Wizard">Human Wizard</option>
  <option value="Human Wizard Ally">Human Wizard Ally</option>
  <option value="Human Wizard Artificer">Human Wizard Artificer</option>
  <option value="Human Wizard Mutant">Human Wizard Mutant</option>
  <option value="Hydra">Hydra</option>
  <option value="Hydra Avatar">Hydra Avatar</option>
  <option value="Hydra Beast">Hydra Beast</option>
  <option value="Hyena">Hyena</option>
  <option value="Igpay">Igpay</option>
  <option value="Illusion">Illusion</option>
  <option value="Illusion Beast">Illusion Beast</option>
  <option value="Illusion Dragon">Illusion Dragon</option>
  <option value="Illusion Horse">Illusion Horse</option>
  <option value="Illusion Hound">Illusion Hound</option>
  <option value="Illusion Mutant">Illusion Mutant</option>
  <option value="Illusion Sliver">Illusion Sliver</option>
  <option value="Illusion Spirit">Illusion Spirit</option>
  <option value="Illusion Wall">Illusion Wall</option>
  <option value="Illusion Warrior">Illusion Warrior</option>
  <option value="Imp">Imp</option>
  <option value="Imp Rebel">Imp Rebel</option>
  <option value="Incarnation">Incarnation</option>
  <option value="Insect">Insect</option>
  <option value="Insect Beast">Insect Beast</option>
  <option value="Insect Druid">Insect Druid</option>
  <option value="Insect Druid Mutant">Insect Druid Mutant</option>
  <option value="Insect Horror">Insect Horror</option>
  <option value="Insect Monk Cleric">Insect Monk Cleric</option>
  <option value="Insect Shade">Insect Shade</option>
  <option value="Insect Shaman">Insect Shaman</option>
  <option value="Insect Spirit">Insect Spirit</option>
  <option value="Insect Wizard">Insect Wizard</option>
  <option value="Insect Worm">Insect Worm</option>
  <option value="Iquatana">Iquatana</option>
  <option value="Ir">Ir</option>
  <option value="Island">Island</option>
  <option value="Island Mountain">Island Mountain</option>
  <option value="Island Swamp">Island Swamp</option>
  <option value="Jace">Jace</option>
  <option value="Jellyfish">Jellyfish</option>
  <option value="Jellyfish Beast">Jellyfish Beast</option>
  <option value="Juggernaut">Juggernaut</option>
  <option value="Kaldheim">Kaldheim</option>
  <option value="Kamigawa">Kamigawa</option>
  <option value="Karn">Karn</option>
  <option value="Kavu">Kavu</option>
  <option value="Kavu Scout">Kavu Scout</option>
  <option value="Kirin Spirit">Kirin Spirit</option>
  <option value="Kithkin">Kithkin</option>
  <option value="Kithkin Advisor">Kithkin Advisor</option>
  <option value="Kithkin Archer">Kithkin Archer</option>
  <option value="Kithkin Cleric">Kithkin Cleric</option>
  <option value="Kithkin Knight">Kithkin Knight</option>
  <option value="Kithkin Rebel">Kithkin Rebel</option>
  <option value="Kithkin Rebel Scout">Kithkin Rebel Scout</option>
  <option value="Kithkin Rogue">Kithkin Rogue</option>
  <option value="Kithkin Scout">Kithkin Scout</option>
  <option value="Kithkin Soldier">Kithkin Soldier</option>
  <option value="Kithkin Soldier Wizard">Kithkin Soldier Wizard</option>
  <option value="Kithkin Spellshaper">Kithkin Spellshaper</option>
  <option value="Kithkin Wizard">Kithkin Wizard</option>
  <option value="Knight">Knight</option>
  <option value="Kobold">Kobold</option>
  <option value="Kobold Soldier">Kobold Soldier</option>
  <option value="Kor Artificer">Kor Artificer</option>
  <option value="Kor Cleric">Kor Cleric</option>
  <option value="Kor Cleric Ally">Kor Cleric Ally</option>
  <option value="Kor Knight">Kor Knight</option>
  <option value="Kor Monk">Kor Monk</option>
  <option value="Kor Nomad Soldier">Kor Nomad Soldier</option>
  <option value="Kor Rebel">Kor Rebel</option>
  <option value="Kor Rebel Knight">Kor Rebel Knight</option>
  <option value="Kor Rogue">Kor Rogue</option>
  <option value="Kor Rogue Minion">Kor Rogue Minion</option>
  <option value="Kor Scout">Kor Scout</option>
  <option value="Kor Shaman Cleric">Kor Shaman Cleric</option>
  <option value="Kor Soldier">Kor Soldier</option>
  <option value="Kor Soldier Ally">Kor Soldier Ally</option>
  <option value="Kor Spirit">Kor Spirit</option>
  <option value="Kor Warrior Knight">Kor Warrior Knight</option>
  <option value="Kor Wizard">Kor Wizard</option>
  <option value="Koth">Koth</option>
  <option value="Kraken">Kraken</option>
  <option value="Lady of Proper Etiquette">Lady of Proper Etiquette</option>
  <option value="Lair">Lair</option>
  <option value="Lammasu">Lammasu</option>
  <option value="Leech">Leech</option>
  <option value="Legend">Legend</option>
  <option value="Leviathan">Leviathan</option>
  <option value="Leviathan Horror">Leviathan Horror</option>
  <option value="Lhurgoyf">Lhurgoyf</option>
  <option value="Licid">Licid</option>
  <option value="Liliana">Liliana</option>
  <option value="Lizard">Lizard</option>
  <option value="Lizard Beast">Lizard Beast</option>
  <option value="Lizard Horror">Lizard Horror</option>
  <option value="Lizard Mercenary">Lizard Mercenary</option>
  <option value="Lizard Warrior">Lizard Warrior</option>
  <option value="Locus">Locus</option>
  <option value="Lorwyn">Lorwyn</option>
  <option value="Manticore">Manticore</option>
  <option value="Masticore">Masticore</option>
  <option value="Mercadia">Mercadia</option>
  <option value="Merfolk">Merfolk</option>
  <option value="Merfolk Archer">Merfolk Archer</option>
  <option value="Merfolk Assassin">Merfolk Assassin</option>
  <option value="Merfolk Cleric">Merfolk Cleric</option>
  <option value="Merfolk Goblin">Merfolk Goblin</option>
  <option value="Merfolk Knight">Merfolk Knight</option>
  <option value="Merfolk Rogue">Merfolk Rogue</option>
  <option value="Merfolk Rogue Warrior">Merfolk Rogue Warrior</option>
  <option value="Merfolk Scout">Merfolk Scout</option>
  <option value="Merfolk Shaman">Merfolk Shaman</option>
  <option value="Merfolk Soldier">Merfolk Soldier</option>
  <option value="Merfolk Spellshaper">Merfolk Spellshaper</option>
  <option value="Merfolk Warrior">Merfolk Warrior</option>
  <option value="Merfolk Wizard">Merfolk Wizard</option>
  <option value="Merfolk Wizard Ally">Merfolk Wizard Ally</option>
  <option value="Merfolk Zombie">Merfolk Zombie</option>
  <option value="Metathran">Metathran</option>
  <option value="Metathran Soldier">Metathran Soldier</option>
  <option value="Metathran Wizard">Metathran Wizard</option>
  <option value="Metathran Zombie">Metathran Zombie</option>
  <option value="Minion">Minion</option>
  <option value="Minotaur">Minotaur</option>
  <option value="Minotaur Berserker">Minotaur Berserker</option>
  <option value="Minotaur Monger">Minotaur Monger</option>
  <option value="Minotaur Monk">Minotaur Monk</option>
  <option value="Minotaur Scout">Minotaur Scout</option>
  <option value="Minotaur Shaman">Minotaur Shaman</option>
  <option value="Minotaur Soldier">Minotaur Soldier</option>
  <option value="Minotaur Spirit">Minotaur Spirit</option>
  <option value="Minotaur Warrior">Minotaur Warrior</option>
  <option value="Minotaur Warrior Ally">Minotaur Warrior Ally</option>
  <option value="Minotaur Wizard">Minotaur Wizard</option>
  <option value="Mirrodin">Mirrodin</option>
  <option value="Moag">Moag</option>
  <option value="Monger">Monger</option>
  <option value="Mongoose">Mongoose</option>
  <option value="Moonfolk Monk">Moonfolk Monk</option>
  <option value="Moonfolk Rogue">Moonfolk Rogue</option>
  <option value="Moonfolk Wizard">Moonfolk Wizard</option>
  <option value="Mountain">Mountain</option>
  <option value="Mountain Forest">Mountain Forest</option>
  <option value="Mountain Plains">Mountain Plains</option>
  <option value="Mummy">Mummy</option>
  <option value="Muraganda">Muraganda</option>
  <option value="Myr">Myr</option>
  <option value="Myr Construct">Myr Construct</option>
  <option value="Nautilus Beast">Nautilus Beast</option>
  <option value="Nephilim">Nephilim</option>
  <option value="Nightmare Beast">Nightmare Beast</option>
  <option value="Nightmare Crab">Nightmare Crab</option>
  <option value="Nightmare Dragon">Nightmare Dragon</option>
  <option value="Nightmare Drake">Nightmare Drake</option>
  <option value="Nightmare Fish Beast">Nightmare Fish Beast</option>
  <option value="Nightmare Horror">Nightmare Horror</option>
  <option value="Nightmare Horse">Nightmare Horse</option>
  <option value="Nightmare Orgg">Nightmare Orgg</option>
  <option value="Nightmare Salamander Beast">Nightmare Salamander Beast</option>
  <option value="Nightmare Turtle Beast">Nightmare Turtle Beast</option>
  <option value="Nightstalker">Nightstalker</option>
  <option value="Nightstalker Cat">Nightstalker Cat</option>
  <option value="Nissa">Nissa</option>
  <option value="Noggle Rogue">Noggle Rogue</option>
  <option value="Noggle Wizard">Noggle Wizard</option>
  <option value="Nomad Giant">Nomad Giant</option>
  <option value="Octopus">Octopus</option>
  <option value="Ogre">Ogre</option>
  <option value="Ogre Berserker">Ogre Berserker</option>
  <option value="Ogre Monk">Ogre Monk</option>
  <option value="Ogre Mutant">Ogre Mutant</option>
  <option value="Ogre Rebel">Ogre Rebel</option>
  <option value="Ogre Rogue">Ogre Rogue</option>
  <option value="Ogre Samurai Mercenary">Ogre Samurai Mercenary</option>
  <option value="Ogre Samurai Shaman">Ogre Samurai Shaman</option>
  <option value="Ogre Shaman">Ogre Shaman</option>
  <option value="Ogre Shaman Ally">Ogre Shaman Ally</option>
  <option value="Ogre Warrior">Ogre Warrior</option>
  <option value="Ogre Warrior Shaman">Ogre Warrior Shaman</option>
  <option value="Ogre Wizard">Ogre Wizard</option>
  <option value="Ooze">Ooze</option>
  <option value="Ooze Mutant">Ooze Mutant</option>
  <option value="Orc">Orc</option>
  <option value="Orc Cleric">Orc Cleric</option>
  <option value="Orc Paratrooper">Orc Paratrooper</option>
  <option value="Orc Rogue">Orc Rogue</option>
  <option value="Orc Scout">Orc Scout</option>
  <option value="Orc Shaman">Orc Shaman</option>
  <option value="Orc Warrior">Orc Warrior</option>
  <option value="Orgg">Orgg</option>
  <option value="Ouphe">Ouphe</option>
  <option value="Ouphe Rogue">Ouphe Rogue</option>
  <option value="Ox">Ox</option>
  <option value="Oyster">Oyster</option>
  <option value="Pegasus">Pegasus</option>
  <option value="Pest">Pest</option>
  <option value="Phelddagrif">Phelddagrif</option>
  <option value="Phoenix">Phoenix</option>
  <option value="Phyrexia">Phyrexia</option>
  <option value="Plains">Plains</option>
  <option value="Plains Island">Plains Island</option>
  <option value="Plains Swamp">Plains Swamp</option>
  <option value="Plant">Plant</option>
  <option value="Plant Elemental">Plant Elemental</option>
  <option value="Plant Elephant">Plant Elephant</option>
  <option value="Plant Fungus">Plant Fungus</option>
  <option value="Plant Hound">Plant Hound</option>
  <option value="Plant Hydra">Plant Hydra</option>
  <option value="Plant Mutant">Plant Mutant</option>
  <option value="Plant Wall">Plant Wall</option>
  <option value="Plant Zombie">Plant Zombie</option>
  <option value="Praetor">Praetor</option>
  <option value="Rabbit">Rabbit</option>
  <option value="Rabbit Beast">Rabbit Beast</option>
  <option value="Rabiah">Rabiah</option>
  <option value="Rat">Rat</option>
  <option value="Rat Ninja">Rat Ninja</option>
  <option value="Rat Rogue">Rat Rogue</option>
  <option value="Rat Samurai">Rat Samurai</option>
  <option value="Rat Shaman">Rat Shaman</option>
  <option value="Rat Warrior">Rat Warrior</option>
  <option value="Rath">Rath</option>
  <option value="Ravnica">Ravnica</option>
  <option value="Rebel Aura">Rebel Aura</option>
  <option value="Rebel Bird">Rebel Bird</option>
  <option value="Rhino">Rhino</option>
  <option value="Rhino Beast">Rhino Beast</option>
  <option value="Rhino Monk">Rhino Monk</option>
  <option value="Rhino Monk Soldier">Rhino Monk Soldier</option>
  <option value="Rhino Soldier">Rhino Soldier</option>
  <option value="Rhino Warrior">Rhino Warrior</option>
  <option value="Rogue">Rogue</option>
  <option value="Rogue Equipment">Rogue Equipment</option>
  <option value="Salamander">Salamander</option>
  <option value="Salamander Rogue">Salamander Rogue</option>
  <option value="Sarkhan">Sarkhan</option>
  <option value="Satyr">Satyr</option>
  <option value="Satyr Beast">Satyr Beast</option>
  <option value="Scarecrow">Scarecrow</option>
  <option value="Scarecrow Soldier">Scarecrow Soldier</option>
  <option value="Scorpion">Scorpion</option>
  <option value="Segovia">Segovia</option>
  <option value="Serpent">Serpent</option>
  <option value="Serra’s Realm">Serra’s Realm</option>
  <option value="Shade">Shade</option>
  <option value="Shade Horror">Shade Horror</option>
  <option value="Shade Knight">Shade Knight</option>
  <option value="Shade Spirit">Shade Spirit</option>
  <option value="Shadowmoor">Shadowmoor</option>
  <option value="Shaman">Shaman</option>
  <option value="Shaman Equipment">Shaman Equipment</option>
  <option value="Shandalar">Shandalar</option>
  <option value="Shapeshifter">Shapeshifter</option>
  <option value="Shapeshifter Ally">Shapeshifter Ally</option>
  <option value="Shapeshifter Spirit">Shapeshifter Spirit</option>
  <option value="Sheep">Sheep</option>
  <option value="Ship">Ship</option>
  <option value="Shrine">Shrine</option>
  <option value="Siren">Siren</option>
  <option value="Skeleton">Skeleton</option>
  <option value="Skeleton Troll">Skeleton Troll</option>
  <option value="Skeleton Wall">Skeleton Wall</option>
  <option value="Skeleton Warrior">Skeleton Warrior</option>
  <option value="Skeleton Wizard">Skeleton Wizard</option>
  <option value="Skeleton Wurm">Skeleton Wurm</option>
  <option value="Slith">Slith</option>
  <option value="Sliver">Sliver</option>
  <option value="Sliver Mutant">Sliver Mutant</option>
  <option value="Sliver Spirit">Sliver Spirit</option>
  <option value="Slug">Slug</option>
  <option value="Slug Beast">Slug Beast</option>
  <option value="Snake">Snake</option>
  <option value="Snake Assassin">Snake Assassin</option>
  <option value="Snake Elf Druid">Snake Elf Druid</option>
  <option value="Snake Monk">Snake Monk</option>
  <option value="Snake Shaman">Snake Shaman</option>
  <option value="Snake Shaman Scout">Snake Shaman Scout</option>
  <option value="Snake Skeleton">Snake Skeleton</option>
  <option value="Snake Wall">Snake Wall</option>
  <option value="Snake Warrior">Snake Warrior</option>
  <option value="Snake Warrior Archer">Snake Warrior Archer</option>
  <option value="Soldier">Soldier</option>
  <option value="Soldier Equipment">Soldier Equipment</option>
  <option value="Soltari Cleric">Soltari Cleric</option>
  <option value="Soltari Knight">Soltari Knight</option>
  <option value="Soltari Monk Cleric">Soltari Monk Cleric</option>
  <option value="Soltari Soldier">Soltari Soldier</option>
  <option value="Sorin">Sorin</option>
  <option value="Spawn">Spawn</option>
  <option value="Specter">Specter</option>
  <option value="Specter Spirit">Specter Spirit</option>
  <option value="Spellshaper">Spellshaper</option>
  <option value="Sphinx">Sphinx</option>
  <option value="Spider">Spider</option>
  <option value="Spider Mutant">Spider Mutant</option>
  <option value="Spike">Spike</option>
  <option value="Spike Drone">Spike Drone</option>
  <option value="Spike Soldier">Spike Soldier</option>
  <option value="Spirit">Spirit</option>
  <option value="Spirit Avatar">Spirit Avatar</option>
  <option value="Spirit Bear">Spirit Bear</option>
  <option value="Spirit Bird">Spirit Bird</option>
  <option value="Spirit Cleric">Spirit Cleric</option>
  <option value="Spirit Giant">Spirit Giant</option>
  <option value="Spirit Horror">Spirit Horror</option>
  <option value="Spirit Knight">Spirit Knight</option>
  <option value="Spirit Minion">Spirit Minion</option>
  <option value="Spirit Nomad">Spirit Nomad</option>
  <option value="Spirit Soldier">Spirit Soldier</option>
  <option value="Spirit Spellshaper">Spirit Spellshaper</option>
  <option value="Spirit Wall">Spirit Wall</option>
  <option value="Sponge">Sponge</option>
  <option value="Squid Beast">Squid Beast</option>
  <option value="Squirrel">Squirrel</option>
  <option value="Squirrel Beast">Squirrel Beast</option>
  <option value="Starfish">Starfish</option>
  <option value="Surrakar">Surrakar</option>
  <option value="Swamp">Swamp</option>
  <option value="Swamp Forest">Swamp Forest</option>
  <option value="Swamp Mountain">Swamp Mountain</option>
  <option value="Tezzeret">Tezzeret</option>
  <option value="Thalakos">Thalakos</option>
  <option value="Thalakos Illusion">Thalakos Illusion</option>
  <option value="Thalakos Soldier">Thalakos Soldier</option>
  <option value="Thalakos Soldier Scout">Thalakos Soldier Scout</option>
  <option value="Thalakos Wizard">Thalakos Wizard</option>
  <option value="Thopter">Thopter</option>
  <option value="Thrull">Thrull</option>
  <option value="Thrull Cleric">Thrull Cleric</option>
  <option value="Thrull Wizard">Thrull Wizard</option>
  <option value="Trap">Trap</option>
  <option value="Treefolk">Treefolk</option>
  <option value="Treefolk Assassin">Treefolk Assassin</option>
  <option value="Treefolk Aura">Treefolk Aura</option>
  <option value="Treefolk Cleric">Treefolk Cleric</option>
  <option value="Treefolk Druid">Treefolk Druid</option>
  <option value="Treefolk Horror">Treefolk Horror</option>
  <option value="Treefolk Shaman">Treefolk Shaman</option>
  <option value="Treefolk Warrior">Treefolk Warrior</option>
  <option value="Troll">Troll</option>
  <option value="Troll Cleric">Troll Cleric</option>
  <option value="Troll Giant">Troll Giant</option>
  <option value="Troll Mutant">Troll Mutant</option>
  <option value="Troll Shaman">Troll Shaman</option>
  <option value="Troll Warrior">Troll Warrior</option>
  <option value="Turtle">Turtle</option>
  <option value="Ulgrotha">Ulgrotha</option>
  <option value="Unicorn">Unicorn</option>
  <option value="Unicorn Monger">Unicorn Monger</option>
  <option value="Urza's">Urza's</option>
  <option value="Urza’s">Urza’s</option>
  <option value="Urza’s Mine">Urza’s Mine</option>
  <option value="Urza’s Power-Plant">Urza’s Power-Plant</option>
  <option value="Urza’s Tower">Urza’s Tower</option>
  <option value="Valla">Valla</option>
  <option value="Vampire">Vampire</option>
  <option value="Vampire Assassin">Vampire Assassin</option>
  <option value="Vampire Cat">Vampire Cat</option>
  <option value="Vampire Dragon">Vampire Dragon</option>
  <option value="Vampire Dwarf">Vampire Dwarf</option>
  <option value="Vampire Hound">Vampire Hound</option>
  <option value="Vampire Knight">Vampire Knight</option>
  <option value="Vampire Rogue">Vampire Rogue</option>
  <option value="Vampire Scout">Vampire Scout</option>
  <option value="Vampire Shade">Vampire Shade</option>
  <option value="Vampire Shaman">Vampire Shaman</option>
  <option value="Vampire Skeleton">Vampire Skeleton</option>
  <option value="Vampire Soldier">Vampire Soldier</option>
  <option value="Vampire Spirit">Vampire Spirit</option>
  <option value="Vampire Warrior">Vampire Warrior</option>
  <option value="Vampire Wizard">Vampire Wizard</option>
  <option value="Vedalken Artificer">Vedalken Artificer</option>
  <option value="Vedalken Knight">Vedalken Knight</option>
  <option value="Vedalken Rogue">Vedalken Rogue</option>
  <option value="Vedalken Scout">Vedalken Scout</option>
  <option value="Vedalken Wizard">Vedalken Wizard</option>
  <option value="Vedalken Wizard Mutant">Vedalken Wizard Mutant</option>
  <option value="Vedalken Zombie">Vedalken Zombie</option>
  <option value="Venser">Venser</option>
  <option value="Viashino">Viashino</option>
  <option value="Viashino Berserker">Viashino Berserker</option>
  <option value="Viashino Scout">Viashino Scout</option>
  <option value="Viashino Shaman">Viashino Shaman</option>
  <option value="Viashino Skeleton">Viashino Skeleton</option>
  <option value="Viashino Soldier">Viashino Soldier</option>
  <option value="Viashino Warrior">Viashino Warrior</option>
  <option value="Volver">Volver</option>
  <option value="Wall">Wall</option>
  <option value="Warrior">Warrior</option>
  <option value="Warrior Equipment">Warrior Equipment</option>
  <option value="Weird">Weird</option>
  <option value="Werewolf">Werewolf</option>
  <option value="Werewolf Minion">Werewolf Minion</option>
  <option value="Whale">Whale</option>
  <option value="Wildfire">Wildfire</option>
  <option value="Wizard">Wizard</option>
  <option value="Wizard Avatar">Wizard Avatar</option>
  <option value="Wizard Equipment">Wizard Equipment</option>
  <option value="Wolf">Wolf</option>
  <option value="Wolverine">Wolverine</option>
  <option value="Wolverine Beast">Wolverine Beast</option>
  <option value="Wombat">Wombat</option>
  <option value="Worm">Worm</option>
  <option value="Worm Beast">Worm Beast</option>
  <option value="Worm Horror">Worm Horror</option>
  <option value="Worm Mercenary">Worm Mercenary</option>
  <option value="Wraith">Wraith</option>
  <option value="Wurm">Wurm</option>
  <option value="Wurm Spirit">Wurm Spirit</option>
  <option value="Yeti">Yeti</option>
  <option value="Yeti Mutant">Yeti Mutant</option>
  <option value="Zendikar">Zendikar</option>
  <option value="Zombie">Zombie</option>
  <option value="Zombie Assassin">Zombie Assassin</option>
  <option value="Zombie Avatar">Zombie Avatar</option>
  <option value="Zombie Barbarian">Zombie Barbarian</option>
  <option value="Zombie Beast">Zombie Beast</option>
  <option value="Zombie Berserker">Zombie Berserker</option>
  <option value="Zombie Bird">Zombie Bird</option>
  <option value="Zombie Cat">Zombie Cat</option>
  <option value="Zombie Centaur">Zombie Centaur</option>
  <option value="Zombie Cleric">Zombie Cleric</option>
  <option value="Zombie Crocodile">Zombie Crocodile</option>
  <option value="Zombie Cyclops">Zombie Cyclops</option>
  <option value="Zombie Dragon">Zombie Dragon</option>
  <option value="Zombie Drake">Zombie Drake</option>
  <option value="Zombie Druid">Zombie Druid</option>
  <option value="Zombie Dwarf">Zombie Dwarf</option>
  <option value="Zombie Elemental">Zombie Elemental</option>
  <option value="Zombie Elf">Zombie Elf</option>
  <option value="Zombie Frog Beast">Zombie Frog Beast</option>
  <option value="Zombie Fungus">Zombie Fungus</option>
  <option value="Zombie Gamer">Zombie Gamer</option>
  <option value="Zombie Giant">Zombie Giant</option>
  <option value="Zombie Goblin">Zombie Goblin</option>
  <option value="Zombie Horror">Zombie Horror</option>
  <option value="Zombie Hound">Zombie Hound</option>
  <option value="Zombie Imp">Zombie Imp</option>
  <option value="Zombie Insect">Zombie Insect</option>
  <option value="Zombie Knight">Zombie Knight</option>
  <option value="Zombie Leech">Zombie Leech</option>
  <option value="Zombie Lizard">Zombie Lizard</option>
  <option value="Zombie Lizard Beast">Zombie Lizard Beast</option>
  <option value="Zombie Mercenary">Zombie Mercenary</option>
  <option value="Zombie Mercenary Assassin">Zombie Mercenary Assassin</option>
  <option value="Zombie Minion">Zombie Minion</option>
  <option value="Zombie Mutant">Zombie Mutant</option>
  <option value="Zombie Ogre">Zombie Ogre</option>
  <option value="Zombie Ogre Warrior">Zombie Ogre Warrior</option>
  <option value="Zombie Pirate">Zombie Pirate</option>
  <option value="Zombie Rat">Zombie Rat</option>
  <option value="Zombie Scout">Zombie Scout</option>
  <option value="Zombie Shaman">Zombie Shaman</option>
  <option value="Zombie Snake">Zombie Snake</option>
  <option value="Zombie Soldier Warrior">Zombie Soldier Warrior</option>
  <option value="Zombie Spellshaper">Zombie Spellshaper</option>
  <option value="Zombie Spirit">Zombie Spirit</option>
  <option value="Zombie Warrior">Zombie Warrior</option>
  <option value="Zombie Wizard">Zombie Wizard</option>
  <option value="Zombie Wolf">Zombie Wolf</option>
  <option value="Zombie Wurm">Zombie Wurm</option>
  <option value="Zubera Spirit">Zubera Spirit</option>
</select>