<% title "MTG Cards" %>

<h1>Search Results (<%=pluralize(@mtg_cards.total_count,"card","cards")%>)</h1>

<div class ="content">
  <div id="search_results">
    <%= render :partial => "teaser", :collection => @mtg_cards, :as => "mtg_card" %>
  </div>
  <div class="paginator center">
    <%= paginate @mtg_cards, :window => 2, :remote => true ,:collection => @mtg_cards %>
  </div>
  
</div>
