<% title "MTG Cards" %>

<h1>Search Results (<%=pluralize(@mtg_cards.total_count,"card","cards")%>)</h1>

<div class ="content">
  <div class="paginator">
    <%= paginate @mtg_cards, :theme => :simple, :remote => true, :collection => @mtg_cards %>
  </div>
  <div id="search_results">
    <% @mtg_cards.each do |card| %>
      <%= render :partial => "teaser", :locals => {:mtg_card => card, :listing_count => card.listings.sum(:quantity_available) }%>
    <% end %>
  </div>
  <div class="paginator">
    <%= paginate @mtg_cards, :theme => :simple, :remote => true ,:collection => @mtg_cards %>
  </div>
  
</div>
