/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:b939b3652a9542f5cfcdcb75428cf183$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.mana_symbol_sprite {
  display:inline-block;
  margin: 0 1px; 
  overflow:hidden;
  background-repeat: no-repeat;
  background-image:url(https://mtgbazaar.s3.amazonaws.com/images/mtg/mana_symbols/mana_symbols_sprite.png);
  vertical-align:text-bottom;
}

.mana_0 {width:15px; height:15px; background-position: -36px -138px}
.mana_1 {width:15px; height:15px; background-position: -19px -155px}
.mana_10 {width:15px; height:15px; background-position: -2px -172px}
.mana_11 {width:15px; height:15px; background-position: -36px -155px}
.mana_12 {width:15px; height:15px; background-position: -2px -155px}
.mana_15 {width:15px; height:15px; background-position: -19px -138px}
.mana_16 {width:15px; height:15px; background-position: -19px -121px}
.mana_2 {width:15px; height:15px; background-position: -2px -138px}
.mana_2b {width:15px; height:15px; background-position: -19px -172px}
.mana_2g {width:15px; height:15px; background-position: -36px -121px}
.mana_2r {width:15px; height:15px; background-position: -2px -121px}
.mana_2u {width:15px; height:15px; background-position: -19px -206px}
.mana_2w {width:15px; height:15px; background-position: -19px -223px}
.mana_3 {width:15px; height:15px; background-position: -36px -206px}
.mana_4 {width:15px; height:15px; background-position: -2px -223px}
.mana_5 {width:15px; height:15px; background-position: -36px -223px}
.mana_6 {width:15px; height:15px; background-position: -2px -189px}
.mana_7 {width:15px; height:15px; background-position: -36px -172px}
.mana_8 {width:15px; height:15px; background-position: -19px -189px}
.mana_9 {width:15px; height:15px; background-position: -2px -206px}
.mana_b {width:15px; height:15px; background-position: -36px -189px}
.mana_b_lg {width:25px; height:25px; background-position: -29px -240px}
.mana_bg {width:15px; height:15px; background-position: -2px -2px}
.mana_br {width:15px; height:15px; background-position: -36px -104px}
.mana_c {width:15px; height:13px; background-position: -36px -36px}
.mana_g {width:15px; height:15px; background-position: -19px -36px}
.mana_g_lg {width:25px; height:25px; background-position: -2px -294px}
.mana_gu {width:15px; height:15px; background-position: -36px -19px}
.mana_gw {width:15px; height:15px; background-position: -19px -19px}
.mana_pb {width:15px; height:15px; background-position: -19px -2px}
.mana_pg {width:15px; height:15px; background-position: -2px -19px}
.mana_pr {width:15px; height:15px; background-position: -36px -2px}
.mana_pu {width:15px; height:15px; background-position: -2px -53px}
.mana_pw {width:15px; height:15px; background-position: -19px -53px}
.mana_r {width:15px; height:15px; background-position: -2px -87px}
.mana_r_lg {width:25px; height:25px; background-position: -2px -267px}
.mana_rg {width:15px; height:15px; background-position: -36px -87px}
.mana_rw {width:15px; height:15px; background-position: -19px -104px}
.mana_u {width:15px; height:15px; background-position: -2px -104px}
.mana_u_lg {width:25px; height:25px; background-position: -29px -267px}
.mana_ub {width:15px; height:15px; background-position: -19px -87px}
.mana_ur {width:15px; height:15px; background-position: -36px -70px}
.mana_w {width:15px; height:15px; background-position: -36px -53px}
.mana_w_lg {width:25px; height:25px; background-position: -2px -240px}
.mana_wb {width:15px; height:15px; background-position: -19px -70px}
.mana_wu {width:15px; height:15px; background-position: -2px -70px}
.mana_x {width:15px; height:15px; background-position: -2px -36px}
