/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:15aec71cff4b5bfe48112ff655da35f0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.option_symbol_sprite {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url(https://mtgbazaar.s3.amazonaws.com/images/mtg/options/options_symbols_sprite2.png);
}

.option_symbol_sprite_small {
  display:inline-block; 
  overflow:hidden; 
  background-repeat: no-repeat;
  background-image:url(https://mtgbazaar.s3.amazonaws.com/images/mtg/options/options_symbols_sprite2.png);
  margin:-2px;
}

.option_symbol_alt {width:20px; height:20px; background-position: -20px -20px}
.option_symbol_alt_lg {width:25px; height:25px; background-position: -0px -45px}
.option_symbol_description {width:20px; height:20px; background-position: -0px -20px}
.option_symbol_description_lg {width:25px; height:25px; background-position: -100px -45px}
.option_symbol_foil {width:20px; height:20px; background-position: -40px -20px}
.option_symbol_foil_lg {width:25px; height:25px; background-position: -25px -45px}
.option_symbol_miscut {width:20px; height:20px; background-position: -20px -0px}
.option_symbol_miscut_lg {width:25px; height:25px; background-position: -50px -45px}
.option_symbol_options {width:20px; height:20px; background-position: -100px -0px}
.option_symbol_playset {width:20px; height:20px; background-position: -40px -0px}
.option_symbol_playset_lg {width:25px; height:25px; background-position: -75px -45px}
.option_symbol_scan {width:20px; height:20px; background-position: -80px -0px}
.option_symbol_scan_lg {width:25px; height:25px; background-position: -60px -20px}
.option_symbol_signed {width:20px; height:20px; background-position: -60px -0px}
.option_symbol_signed_lg {width:25px; height:25px; background-position: -85px -20px}
.option_symbol_x {width:20px; height:20px; background-position: -0px -0px}