<% title "Manage Account"%>
<%
  @links = Array.new
  @links << ["Summary", show_account_info_path]
  @links << ["Edit Info", edit_user_registration_path]
  @links << ["My Listings", user_current_listings_path]  
  @links << ["Deposit", new_account_deposit_path]
  @links << ["Withdraw", new_account_withdraw_path]  
%>

<h1>Manage Account</h1>
<div id="account_tabs" class="group">
  <ul class="tabs center">
    <% @links.each do |l| %>
      <% if request.env['PATH_INFO'] == l[1] %>
        <% @class = "class = \'current\'" %>
      <% else %>  
        <% @class = "" %>      
      <% end %>        
      <li <%= @class %>><%= link_to l[0], l[1] %></li>
    <% end %>
  </ul>
</div>