<%= render :partial => "users/manage_account_header" %>
<div class="ma">
  <h2><%="#{@active_listings.count} Active Listings"%></h2>
  <%= render :partial => "listings_index", :locals => { :listings => @active_listings } %>
</div>