<%= render :partial => "users/manage_account_header" %>
<div class="ma">
  <h2><%="#{pluralize(current_user.pending_transactions.count,"Pending Transaction","Pending Transactions")}"%></h2>
  <% current_user.mtg_purchases.each do |t| %>
    <br class="spacer"/>
    <br class="spacer"/>
    
    <%= render :partial => "mtg/transactions/teaser" , :locals => {:transaction => t} %> 

    <br class="spacer"/>
    <br class="spacer"/>        
  <% end %>
</div>