<%= form_tag process_xml_admin_mtg_cards_path, :method => :post, :multipart => true do %>
  <h2>Attach an XML file containing mtg card, block, and/or set information</h2>
  <p> XML file structure must be as follows: <p>
  <p> <%= "
    <some type of container>
      <blocks>
        <block>
          block info
          <sets>
            <set>
              set info for this block
            </set>
          </sets>
        </block>
      </blocks>
      <cards>
        <card>
          card info
        </card>
      </cards>
    </some type of container>
      "%> 
  </p>
  <br/>
  
  <%= file_field_tag 'attachment', :datafile => true, :id => "upload_file" %> <%# datafile must be true to read the file after uploading %>
  <br class = "spacer"/>
  <br class = "spacer"/>
  <%= submit_tag "Upload XML", :disabled => true, :disable_with => "Uploading...", :id => "submit_upload_file"%> 
  


  
<% end %>
