<div id="bottomnav">
  <%= link_to 'About MTGBazaar' , about_path %> | 
  <%= link_to 'Terms of Service' , terms_path %> | 
  <%= link_to 'Privacy Policy' , privacy_path %> | 
  <%= link_to 'Contact Us' , contact_path %>
 
</div>