<div id="footer">
  Copyright &copy; 2012 <%= link_to 'MTGBazaar' , root_path %>
  <br class="spacer"/>
  <br class="spacer"/>
  <%= link_to image_tag("http://s3.amazonaws.com/mtgbazaar_public/images/chrome.png", :height => "30", :width => "30"), "https://www.google.com/chrome", :target => '_blank', :alt => "designed for Google Chrome"  %>
</div>