<div id="footer">
  Copyright &copy; 2012 <%= link_to 'MTG Bazaar' , root_path %>
  <br class="spacer"/>
  <br class="spacer"/>
  Designed For and Developed On: <br/><%= link_to image_tag("chrome.png",:height => "30px"), "https://www.google.com/chrome", :target => '_blank', :alt => "google chrome"  %>
</div>