<div id="footer">
  Copyright &copy; 2012 <%= link_to 'MTGBazaar' , root_path %>
  <br class="spacer"/>
  <br class="spacer"/>
  <%= link_to image_tag("chrome.png",:height => "30px"), "https://www.google.com/chrome", :target => '_blank', :alt => "google chrome"  %>
</div>