<div id="header" class="group">

	<div id="followus">
	    <div id="follow">
		 
		  <%= link_to image_tag("facebook.png"), "http://www.facebook.com/mtgbazaar", :target => '_blank', :alt => "facebook"  %>
		  <%= link_to image_tag("twitter.png"), "http://www.twitter.com/mtgbazaar", :target => '_blank', :alt => "twitter"  %>
		
	      </a>
          </a>
	    </div>
	</div>
	
	
  <div id="logobox">
    <div id="logo">
      <%= image_tag 'logo.png', :alt => "MTGBazaar Logo" %>
      </a>
    </div>
  </div>

</div>