<div id="header" class="group">

	<div id="followus">
	    <div id="follow">
		  
		  <%= link_to image_tag("https://s3.amazonaws.com/mtgbazaar_public/images/paypal.png", :height => "22", :width => "87", :style => "padding-bottom:2px; padding-right:3px"), "http://www.paypal.com", :target => '_blank', :alt => "Secured with PayPal"  %>
		  <%= link_to image_tag("https://s3.amazonaws.com/mtgbazaar_public/images/facebook.png", :height => "30", :width => "30"), "http://www.facebook.com/mtgbazaar", :target => '_blank', :alt => "MTGBazaar on Facebook"  %>
		  <%= link_to image_tag("https://s3.amazonaws.com/mtgbazaar_public/images/twitter.png", :height => "30", :width => "30"), "http://www.twitter.com/mtgbazaar", :target => '_blank', :alt => "MTGBazaar on Twitter"  %>
		
	    </div>
	</div>
	
	
  <div id="logobox">
    <div id="logo">
      <%= link_to image_tag('https://s3.amazonaws.com/mtgbazaar/images/mtg/logo/logo_sm.png', :alt => "MTGBazaar Logo"), root_path %>
    </div>
  </div>

</div>