<div id="header" class="group">

  <div id="logobox">
    <div id="logo">
        <h1>MTG Bazaar</h1>
      <a href="/">
      <%#= image_tag '/images/OI-Logo.png', :alt => "Oilfield Intelligence Logo", :height => "61" %>
      </a>
    </div>
  </div>

</div>