<div id="right_bar2">
  <h1>right bar2</h1>
  <div class="ma">
    
    <p>test stuff ... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... </p>
  </div>
</div>