<div id="right_bar2">
    
    <div id='container'>
      <div class='display' style="background-color: #fcc;"> 
        <%= link_to "", "http://www.dailymtg.com", :id => "right_bar2" , :style => "background-image: url(/assets/grandprix.jpg);" %>
      </div>

      <div class='display' style="background-color: #ffc;"> 
        div5
      </div>

      <div class='display' style="background-color: #cfc;"> 
        div4
      </div>

      <div class='display' style="background-color: #cff;"> 
        div2
      </div>

      <div class='display' style="background-color: #ccf;"> 
        div3
      </div>

      <div class='display' style="background-color: #fcf;"> 
        div6
      </div>

    </div>
        
</div>​