<div id="right_bar3">
  <h1>right bar3</h1>
  <div class="ma">
   
    <p>test stuff ... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... </p>
  </div>
</div>