<div id='slider_right_bar2'>	
  
  <%# PRO TOUR GATECRASH QUALIFIERS %> 
  <div class="right_bar2_slider_object" style="background: url('https://s3.amazonaws.com/mtgbazaar/images/rightbar2/scgreid.jpg')">
    <a class="external_link", href="http://www.starcitygames.com/events/121216_losangeles.html" target="_blank"></a>
  </div>
  <div class="right_bar2_slider_object" style="background: url('https://s3.amazonaws.com/mtgbazaar/images/rightbar2/gtc_ptq.jpg')">
    <a class="external_link", href="http://www.wizards.com/Magic/TCG/Events.aspx?x=mtgcom/protour/gatecrash13-qualifiers" target="_blank"></a>
  </div> <%# RAVNICA ON SALE!!! %> 
  <div class="right_bar2_slider_object" onclick="location.href='https://www.mtgbazaar.com/mtg/cards?set=RTR';" style="background:url('https://s3.amazonaws.com/mtgbazaar/images/rightbar2/rav_onsale.jpg');">    
  </div>
  <%#= render :inline => SiteVariable.get("right_bar_2") %>
  
</div>

