<div id="right_bar">
  <h1>right bar</h1>
  <div class="ma">
    <%= image_tag "http://www.wizards.com/Magic/Assets/magic_logo.gif" %>
    <p>test stuff ... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... Test stuff... </p>
  </div>
</div>