<% title "About" %>

<div id="about">
  <h1>About MTG Bazaar</h1>
  <div class="ma">
    <h2>MTG Bazaar is the premier service for buying and selling Magic The Gathering<sm>&trade;</sm> cards</h3>
    <p>MTG Bazaar</p>
    <br/>
    <h3>Search Optimization</h3>
    <p>Find the card you really need to complete your deck. MTG Bazaar has a search engine developed specifically for Magic the Gathering<sm>&trade;</sm> allowing you to quickly and easily strengthen your deck to annihilate your competition.</p>
    
    <%#= link_to 'Join Our Cause!', new_user_registration_path , :class => "button group center" %>
  </div>
</div> <!-- about -->
