<% title "About" %>

<div id="about">
  <h1>About MTG Bazaar</h1>
  <div class="ma">
    <h2>MTG Bazaar is the premier service for buying and selling Magic The Gathering<sm>&trade;</sm> cards</h3>
    <h3>Mana Conservation</h3>
    <p>Building your perfect deck using other competing services on the internet will cost your life force in higher commission fees. Tap into MTG Bazaar and save your mana for things you really want.</p>
    <br/>
    <h3>Search Optimization</h3>
    <p>Find the card you really need to complete your deck. MTG Bazaar has a search engine developed specifically for Magic the Gathering<sm>&trade;</sm> allowing you to quickly and easily strengthen your deck to annihilate your competition.</p>
    
    <%#= link_to 'Join Our Cause!', new_user_registration_path , :class => "button group center" %>
  </div>
</div> <!-- about -->
