<% title "Changelog" %>
<% page_description "Recent changes made to MTGBazaar BETA to improve your experience" %>

<h1>MTGBazaar Changelog</h1>
<div class="content">
  <%= render :inline => SiteVariable.get("Changelog") %>
</div>