<% title "Condition Guide" %>

<h1>Card Condition Guide</h1>

<div class="ma">
 
  <table class="data">
     <tr class="header_row">
      <th>Near-Mint (NM)</th>
   </tr>
   <tr>
    <td class="odd">
     <p class="ma" style="word-wrap:normal;">
       Near-Mint cards have little to no wear, usually resembling a card fresh from a pack.  Sometimes a slight scratch or very minor nick is acceptable but otherwise flaws are not present.
          </p>
    </td>
    <tr class="header_row">
      <th >Slightly Played (SP)</th>
   </tr>
   <tr>
    <td class="odd">
     <p class="ma">
      Slightly Played cards show definitive visible, but mild, wear and tear.  Examples of conditions for a card in this category would be:<br/><br/>

      Signed Cards, Stamped Cards, Mild Corner/Border Wear, Mild Scratches, Overall Played Look
       
          </p>
    </td>
    <tr class="header_row">
     <th >Moderately Played (MP)</th>
  </tr>
  <tr>
   <td class="odd">
    <p class="ma" style="word-wrap:normal;">
     Moderately Played cards show definitive visible wear and tear.  However, they still would pass for tournament legal play.  Examples of conditions for a card in this category would be:<br/><br/>

     Mild Creasing, Corner/Border Wear, Scratches/Bends, Whitening, Inking, Mild Water Damage
          
    </p>
   </td>
  </tr>
    <tr class="header_row">
     <th >Heavily Played (HP)</th>
  </tr>
  <tr>
   <td class="odd">
    <p class="ma" style="word-wrap:normal;">
     Heavily Played cards show definitive visible heavy wear and tear and are usually not legal to play in a tournament.  These cards are not recommended for sale unless for collecting purposes only.  Examples of conditions for a card in this category would be:<br/><br/>

     Major Creasing/Folding, Major Whitening, Writing on the Card, Major Inking, Major Water Damage
    </p>
   </td>
  </tr>
  </table>
</div>