<% title "Feedback"%>

<h1>Leave Feedback</h1>

<div class ="content">
<iframe src="https://docs.google.com/a/mtgbazaar.com/spreadsheet/embeddedform?formkey=dDl3blY5bV90VDRtYXdXdm9uRWFpV1E6MQ" width="510" height="500" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>
</div>