<% title "Home" %>

<h1></h1>

<div class="ma">
  
  <%#= render :inline => SiteVariable.get("homepage") %>
  <%= render :partial => "shared/test" %>
  
  <%#= Mtg::Transactions::ShippingLabel.calculate_shipping_parameters(:item_count => 5010) %>
  
  <%#= GirlFriday.status %>
  
  <%#= Stamps.account %>
</div>

