<% title "Home" %>

<h1>Welcome</h1>  

<div class="ma">
<%= raw RedCloth.new("h2. Give RedCloth a try!

A *simple* paragraph with
a line break, some _emphasis_ and a \"link\":http://redcloth.org


* an item
* and another


# one
# two").to_html %>


</div>


<div class= "content">

  <%= link_to("MTG Cards!", mtg_cards_path)%>
  <br/>
  <% Mtg::Set.all.each do |set| %>
  <%= "#{set.name} - #{set.code}" %>
  <%= display_set_symbol(set) %>
  <br/>
  <% end %>
</div>

