<% title "Home" %>

<h1>Welcome to MTGBazaar!</h1>
<div class="ma">
  <% @news_feeds.each do |feed| %>
    <h2><%= feed.title %></h2>
	<%= feed.author_id %>
    <%= feed.data.html_safe %>
  <% end %>
</div>

