<% title "terms and conditions" %>
<% page_description "Terms and Conditions for using MTGBazaar" %>

<h1>Terms and Conditions</h1>
<div class="ma">
  <%= render :inline => SiteVariable.get("terms_and_conditions") %>
</div>