<h1>test</h1>



<%# STAMPS %>


<%#
a = {
  :full_name   => "Full Name",
  :address1    => "6134346 mamorial heights",
  :address2    => "office 2030",                  
  :city        => "houston",
  :state       => "TX",
  :zip_code    => "77007"
}

  address = {  :full_name=>"FULL NAME", 
                :first_name=>"FIRST NAME", 
                :last_name=>"LAST NAME", 
                :address1=>"616 MEML HEIGHTS DR OFC 2030", 
                :address2=>nil, 
                :city=>"HOUSTON", 
                :state=>"TX", 
                :zip_code=>"77007", 
                :cleanse_hash=>"AcS3J56j55cSuDz3BKnBJrds8ohkZWFkYmVlZg==20120313", 
                :override_hash=>"NPKodKyjIYjJgAZWnvFYsjoOnitkZWFkYmVlZg==20120313" }


%>

<%#= Stamps.clean_address(:address => a) %>


<%#

  integration_id = '132CB46D-2605-483C-83D1-F1A82DC0452B'
  username       = 'mtgbazaar'
  password       = 'postage1'
  endpoint       = 'https://swsim.testing.stamps.com/swsim/SwsimV24.asmx'
  soap_version   = 'http://stamps.com/xml/namespace/2012/05/swsim/swsimv24'
  soap_action    = 'AuthenticateUser'

  payload        = "<?xml version=\"1.0\" encoding=\"utf-8\"?>
                    <soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">
                      <soap:Body>
                        <AuthenticateUser xmlns=\"http://stamps.com/xml/namespace/2012/05/swsim/swsimv24\">
                          <Credentials>
                            <IntegrationID>#{integration_id}</IntegrationID>
                            <Username>#{username}</Username>
                            <Password>#{password}</Password>
                          </Credentials>
                        </AuthenticateUser>
                      </soap:Body>
                    </soap:Envelope>"
  
  url = "#{endpoint}/#{soap_action}"
  
  require 'net/http'
  
  request = Net::HTTP::Post.new(url)
  request["SOAPAction"] = "#{soap_version}/#{soap_action}"
  request["Content-Type"] = "application/xml"
  request.body = payload

  uri = URI.parse(url)
  puts url
  puts uri

  http = Net::HTTP.new(uri.host, uri.port)
  response = http.request(request)

%>
<%#
from_address = Stamps.clean_address(
  :address => {
    :full_name   => 'bazaarTrader',
    :first_name  => 'Chris',
    :last_name   => 'Odorizzi',
    :address1    => '19 chestnut hill ct.',
    :city        => 'The Woodlands',
    :state       => 'TX',
    :zip_code    => '77380'
})[:address]

to_address = Stamps.clean_address(
  :address => {
    :full_name   => 'Bailyn',
    :first_name  => 'Kenneth',
    :last_name   => 'Vaczi',
    :address1    => '511 w 34th',
    :city        => 'Houston',
    :state       => 'TX',
    :zip_code    => '77018'
})[:address]
%>
<%#
# send one burrito
rates = Stamps.get_rates(
  :from_zip_code => '78701',
  :to_zip_code   => '78704',
  :weight_lb     => '0.5',
  :ship_date     => '2012-09-19',
  :service_type  => 'US-FC',
  :package_type  => 'Large Envelope or Flat',
 :add_ons => {'SC-A-HP' => '20.00', 'US-A-CM' => '0.25'},
  :insured_value => '50.00'
)
%>
<%#
 begin
   stamp = Stamps.create!({
                :sample          => true,
                :image_type      => "Pdf",
                :transaction_id  => "First Stamp",
                :to               => to_address,
                :from             => from_address,
                :memo          => "MTGBazaar.com",
                :rate          => {
                  :from_zip_code => from_address[:zip_code],
                  :to_zip_code   => to_address[:zip_code],
                  :weight_oz     => '3',
                  :ship_date     => (Date.today).strftime('%Y-%m-%d'),
                  :service_type  => 'US-FC', :package_type  => 'Package',
#                  :service_type  => 'US-PM', :package_type  => 'Package',
#                  :insured_value => '100.00',
                  :add_ons       => {
                    :add_on => [
  #                    { :type => 'SC-A-INS' },  # Insurance
                      { :type => 'SC-A-HP' },  # hidden postage
                      { :type => 'US-A-DC' }   # delivery confirmation
                    ]
                  }
                }
                })
  rescue Exception => e
    Rails.logger.info("Error Message: #{e}")
    if e == "bah"
      Rails.logger.info("Error Handled")
    else
      raise
    end
  end
%>

<%#= stamp %>

<%#= Stamps.account %>

<%#
  track = Stamps.track("b6774184-36b6-4684-8c0c-132ba0011511")
%>
<%#= track %>

<%#
  Stamps.purchase_postage(
    :amount => "50.00",
    :control_total => "5.00"
  )
%>
