<% title "Welcome"%>

<h1>Welcome to MTGBazaar</h1>

<div class ="content center_wrap">

  <br class="spacer"/>  
  <p class="ma">Thanks for creating an account with MTGBazaar!</p>
  <br class="spacer"/>
  <p class="ma">Before you continue we need to verify your email account</p>
  <p class="ma">You should receive an email shortly with confirmation instructions</p>

  <br class="spacer"/>
  <p class="ma">Click <%= link_to "here", new_confirmation_path(User) %> if you don't receive an email in the next few minutes</p>
  
</div>
