<% title "Welcome"%>

<h1>Welcome to MTGBazaar</h1>

<div class ="content center_wrap">

  <br class="spacer"/>  
    <%= image_tag 'https://s3.amazonaws.com/mtgbazaar/images/mtg/logo/logo_new.png', :style => "width:300px" %>
  <p class="ma"><b>Thanks for creating an account with MTGBazaar!</b></p>
  <br class="spacer"/>

  <p class="ma">Before you continue we need to verify your email account</p>
  <p class="">You should receive an email shortly with confirmation instructions</p>

  <br class="spacer"/>
  <p class="ma">Click <%= link_to "here", new_confirmation_path(User) %> if you don't receive an email in the next few minutes</p>
  
</div>
