.pagination_basic{
  width:100%;
  background: rgba(240,240,240,0.4);
  -moz-box-shadow:     0px 1px 1px 0px #eee;
  -webkit-box-shadow:  0px 1px 1px 0px #eee;
  box-shadow:          0px 1px 1px 0px #eee;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:          5px;
  min-height:30px;
  padding:5px;
}
.pagination_basic a{
  padding:.1em .3em;
  margin:.2em;
  border:1px solid #aad;
  text-decoration:none;
  color:#369;
}
.pagination_basic a:hover,.pagination_basic a:active{
  border:1px solid #369;
  color:#000;
}
.pagination_basic span.current{
  padding:.1em .3em;
  margin:.2em;
  border:1px solid #369;
  font-weight:bold;
  background-color:#369;
  color:#FFF;
}
.pagination_basic span.disabled {
  padding:.1em .3em;
  margin:.2em;
  border:1px solid #eee;
  color:#ddd;
}
.pagination_basic-info {
  display:inline-block;
  width:59%;
  line-height:1;
  text-align:center;
  margin-right:-5px;
}
.pagination_basic-right {
  display:inline-block;
  float:right;
  min-width: 20%;
  min-height: 15px;
}
.pagination_basic-left {
  display:inline-block;
  min-width: 20%;
  min-height: 15px;  
}