.card_image_wrapper {
  height: 220px;
  width: 150px;
  display:inline;
  float:left;
}
.card_show_info {
  display:table;
  margin: 0 0px 0 15px;
  width: 300px;
  float:left;
  text-align:justify;
}
.card_show_info_row {
  display:table-row;
  font-size:12px;
  line-height:1.3;
}
.card_show_info_label {
  display: table-cell;
  font-weight: bold;
  text-transform: capitalize;
  width:15%;
  padding-bottom: 5px;  

  vertical-align:middle;
}
.card_show_info_value {
  display: table-cell;
  width:85%;
  padding-bottom: 5px;
}
.mtg_symbol {
  margin:0 0 -2px 1px;
  height:15px;
  width:15px;
}
.mtg_card_image {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  -moz-box-shadow:     0px 1px 2px 1px #777;
  -webkit-box-shadow:  0px 1px 2px 1px #777;
  box-shadow:          0px 1px 2px 1px #777;
  
  width:150px;
}
.mtg_teaser{
  width: 100%;
  height: 120px;
  margin: 15px 0 15px 0;
}
.mtg_teaser_image{
  display:inline;
  float:left;
  height:120px;
  width:85px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow:     0px 1px 2px 1px #777;
  -webkit-box-shadow:  0px 1px 2px 1px #777;
  box-shadow:          0px 1px 2px 1px #777;  
}
.mtg_teaser_info{
  display:inline;
  float:left;
  width:365px;
  margin: -10px 5px 0 15px;
}