.search-text {
  background: white image-url('chosen-sprite.png') no-repeat 93px -37px;
  width: 150px;
}
.search-select {
  width: 100%;
}
.search-select-rarity {
  width: 80px;
}
.search-select-condition {
  width: 75px;
}
.search-color-icon {
  width: 22px;
  height: 22px;
  margin: 0px 8px 0 0px;
}
.search-color-icon-last {
  width: 22px;
  height: 22px;
  margin: 0px 0 0 0;
}
.search-color-check {
  margin: 0px 13px 0 5px;  
}
.search-color-check-last {
  margin: 0px 0px 0 5px;  
}
.search-divider {
  border-bottom: 1px solid #eee;
  display:block;
  width:100%;
}
.search-submit {
  float: right;
  margin: 15px 0 0 0;  
}
.search-rarity {
  display:inline-block;
  float:left;
}
.search-condition {
  display: inline-block;
  float: right;
  margin-right:2px;
}
#search_name_suggestions {
  display: none;
  width:160px;
  position: absolute;
  background: #ddd;
  z-index:5;
}
#search_form{
  position:relative;
}
#clear-filters {
  cursor: pointer;
}
#clear-filters:hover {
  text-decoration: underline;
}