
/*------------------------------------*/
/*------------simple form-------------*/
/*------------------------------------*/
/* ----- SimpleForm Styles ----- */

.simple_form {
  display:block;
  margin: 15px;
}
.simple_form h2 {
  margin-right: 30px;
  margin-left: 30px;  
}
.simple_form .error {
  clear:   left;
  color:   red;
  display: block;
  margin-left: 35%;
  margin-bottom: 10px;
  font-size:    12px;
  font-style: italic;
}
.simple_form .hint {
  clear: left;
  margin-left: 35%;
  font-size:    12px;
  color: #bbb;
  display: block;
  font-style: italic;
}
.simple_form div.input {
  margin-bottom: 5px;
}
.simple_form label {
  float: left;
  width: 30%;
  text-align: right;
  margin: 4px 10px;
}
.simple_form .select select , .simple_form .select .chzn-container {
  width: 52.5%;
  margin: 2px 0 5px 0;
  paddding: none;
}
.simple_form .date select , .simple_form .date .chzn-container{
  width: 50%;
  margin: 2px 0 5px 2px;
}
.simple_form .input input[type='text'], .simple_form .input input[type='email'], .simple_form .input input[type='password'] {
  width:50%;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 50%;
  margin-right: auto;

}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}
.simple_form .input.radio span {
  display:table-cell;
}
.simple_form label.radio {

}
.field_with_errors {
  display: inline;
  color: red;
}
.field_with_errors input {
  border: 1px solid red;
}
.field_with_errors .hint {
  display: none;
}
input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

.simple_form textarea.text {
  resize: none; 
  width:50%;
  height:200px;

  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}