<%= simple_form_for @ticket_update, :url => ticket_update_path(@ticket), :method => :post do |f| %>

  <div class="inputs">
    <%= f.input :description,               :label => "Description",
                                            :as => :text,
                                            :required => true, 
                                            :hint => "500 Characters Maximum",
                                            :input_html => {:maxlength => "500"} %>                                      
  </div>
  
  <br class="spacer"/>
  <div class="center_wrap">
    <%= f.button :submit, "Submit", :class => "center"%>
  </div>
  
<% end %>