$(document).ready(function(){
  $('.decklist_wrapper .decklist_image_wrapper .decklist_image').css('background-image', 'url(https://mtgbazaar.s3.amazonaws.com/images/mtg/logo/logo_card_sleeve.jpg)')
  $('.decklist_wrapper .card_name').live('mouseover', function(){
    updateDecklistImage($(this));
    updateDecklistCardSalesFrame($(this));    
  });
/*  $('.decklist_wrapper .card_name').live('hover', function(){
    updateDecklistImage($(this));
    updateDecklistCardSalesFrame($(this));
  });  */
  
});

function updateDecklistImage(card_name_object) {
  var target        = card_name_object.closest('.decklist_wrapper').find('.decklist_image');
  var imageUrl      = card_name_object.data('image');
  var cssBackground = "url(" + imageUrl + ")";
  if (target.css('background-image').replace(/"/g,"") != cssBackground){
   target.stop(1).fadeOut(20).queue(function(){    
      //target.parent().css('background-image','none');
      target.css('background-image', cssBackground);
      $(this).dequeue();
    }).fadeIn(300);
  }
}

function updateDecklistCardSalesFrame(card_name_object) {
  var target           = card_name_object.closest('.decklist_wrapper').find('.decklist_card_sales_frame');
  var path             = card_name_object.data('sales-frame-path');
  var card_id          = card_name_object.data('card-id');
  var cached_object_id = 'decklist_sales_frame_cache_' + card_id;
  var cached_object = $('#' + cached_object_id);
  if (cached_object.length != 0){
    // We already have the sales information, just take it from the page
    target.html(cached_object.html());
  } else {
    // Fetch new information from the server, store on page
    if (path.length > 0) { // if path doesn't exist there's a bug where the entire page loads into frame
      console.log("TESTING LOG FOR FUNCTION UPDATE DECKLIST CAR DSALESF RAME");
      console.log(path);
      $.ajax({
        type: 'GET',
        url: '/mtg/decklists/sales_frame?id=' + card_id,
        dataType: 'HTML',
        async: true,
        success : function(data) { 
          if (target && data.length >= 1) {
            target.html(data);
            $('body').append('<div id=' + cached_object_id + " style='display:none;'>" + data + '</div>');                
          }
        }   
      });          
    }
  }
}