<div class="pagination-right">
  <%= button_to raw('Next &raquo;'), url, :method => :post, :remote => remote, :class => "right" unless current_page.last? do |name| -%>
    <span class="disabled">
      <%= name %>
    </span>
  <% end -%>
</div>