<%= paginator.render do -%>
  <div class="pagination group">
    <div class="ma-s">
      <%= prev_page_tag -%>
      <span class="pagination-info">
        <%#= "Displaying #{collection.offset_value + 1} - #{collection.offset_value + collection.length}" %>
      </span>
      <%= next_page_tag -%>
      <br class="spacer"/>      
    </div>
  </div>

<% end -%>
