$(document).ready(function() {

/* FIXED NEW AND EDIT LISTING JAVASCRIPT */

  $("#mtg_cards_listing_scan").change(function(){
    if ($(this).val()) {
      if ($('#mtg_cards_listing_quantity').val() != 1){
    		$("#mtg_cards_listing_quantity").siblings('span.error').remove();
    		$("#mtg_cards_listing_quantity").siblings('span.hint').hide();          
    		$("#mtg_cards_listing_quantity").parent().append('<span class="error">Quantity must be 1 when attaching scan</span>');
      } 
  		$(this).siblings('span.error').remove();
  		$(this).siblings('.hint').remove();
  		$(this).parent().append('<div id="remove_scan_button" class="hint" style="color:#688AC1;font-style:normal;cursor:pointer;" onClick="clearFileUpload();">Remove Attached File</div>');
  	} else {
  		$(this).siblings('div.hint').remove();
  		$(this).parent().append('<span class="hint">Required only for Signed, Misprints, and Altered</span>');		
  	  $("#mtg_cards_listing_quantity").siblings('span.error').remove();
  	  $("#mtg_cards_listing_quantity").siblings('span.hint').show();  	  
  		if (($('#mtg_cards_listing_signed').attr('checked') || $('#mtg_cards_listing_misprint').attr('checked') || $('#mtg_cards_listing_altart').attr('checked')) && !$("#mtg_cards_listing_scan").val() ){
        $(this).parent().append('<span class="error">A scan is required for this listing</span>');
    		$(this).siblings('span.hint').hide();      
      }
  	}
  });
  
  $("#mtg_cards_listing_signed, #mtg_cards_listing_misprint, #mtg_cards_listing_altart").change(function(){
    var target = $("#mtg_cards_listing_scan")
    if (($('#mtg_cards_listing_signed').attr('checked') || $('#mtg_cards_listing_misprint').attr('checked') || $('#mtg_cards_listing_altart').attr('checked')) && !$("#mtg_cards_listing_scan").val() ){
  		target.siblings('span.error').remove();
  		target.siblings('span.hint').hide();          
  		target.parent().append('<span class="error">A scan is required for this listing</span>');
    } else {
     	target.siblings('span.error').remove();
     	target.siblings('span.hint').show();     	
    }
  });
  
  $("#mtg_cards_listing_quantity").change(function(){  
    if ($('#mtg_cards_listing_quantity').val() != 1 && $("#mtg_cards_listing_scan").val()){
  		$("#mtg_cards_listing_quantity").siblings('span.error').remove();
  		$("#mtg_cards_listing_quantity").siblings('span.hint').remove();          
  		$("#mtg_cards_listing_quantity").parent().append('<span class="error">Quantity must be 1 when attaching scan</span>');
    } else {
      $("#mtg_cards_listing_quantity").siblings('span.error').remove();
  		$("#mtg_cards_listing_quantity").siblings('span.hint').show();
    }
  });

/* GENERIC LISTING JAVASCRIPTS */ 

  $('#New_Generic_Name_Block div #mtg_cards_listing_name').bind('railsAutocomplete.select', function(event, data){
    $.get('/mtg/cards/listings/new_generic_set.json?name=' + $('#mtg_cards_listing_name').val(), function(data) {
      $("#New_Generic_Info_Block").hide();
      $("#New_Generic_Set_Block").show();
      var selection_array = data;
      $("#mtg_cards_listing_set").empty();
      $("#mtg_cards_listing_set").removeAttr('disabled');      
      $("#mtg_cards_listing_set").append('<option value></option>'); // give null value so label shows      
      if (selection_array.length > 1) {
        $(selection_array).each(function(index, item) {
           $("#mtg_cards_listing_set").append('<option value=' + item[1] + '>' + item[0] + '</option>');           
        });
        $("#mtg_cards_listing_set").trigger("liszt:updated");
      } else if (selection_array.length == 1) {
        $("#mtg_cards_listing_set").append('<option selected=selected value=' + selection_array[0][1] + '>' + selection_array[0][0] + '</option>');
        $("#mtg_cards_listing_set").trigger("liszt:updated");
        $("#mtg_cards_listing_set").trigger("change");
      }
    });      
  });
  
  $("#New_Generic_Set_Block #mtg_cards_listing_set").chosen().change( function() {
    $.get('/mtg/cards/listings/new_generic_pricing.json?name=' + $('#mtg_cards_listing_name').val() + '&set=' + $('#mtg_cards_listing_set').chosen().val(), function(data) {
      $("#New_Generic_Info_Block").show();             
      var selection_array = data;
      $("#mtg_cards_listing_price_options").empty();
//      $("#mtg_cards_listing_price_options").append('<option value></option>'); // give null value so label shows
      $(selection_array).each(function(index, item) {
         $("#mtg_cards_listing_price_options").append('<option value=' + item[1] + '>' + item[0] + '</option>');
      });           
      $("#mtg_cards_listing_price_options").removeAttr('disabled');     
      $("#mtg_cards_listing_price_options").trigger("liszt:updated");      
    });        
  });
  
  <%# hide and show custom pricing when user selects other for pricing%>
  $("#mtg_cards_listing_price_options").chosen().change( function() {
    $("#Custom_Pricing_Block").hide();    
    if ($(this).val() == "other") {
      $("#Custom_Pricing_Block").show();
    }
  });
  
  
/* BULK LISTING JAVASCRIPTS */ 

  <%# hide and display custom pricing when user selects other for pricing %>
  $(".bulk_price_options").chosen().change( function() {
    if ($(this).val() == "other") {
      $(this).parent().find('.bulk_price_custom').show();
    }
    else {
      $(this).parent().find('.bulk_price_custom').hide();
    }
    
  
  });
  
});

function clearFileUpload() {
  $('#mtg_cards_listing_scan').replaceWith( $('#mtg_cards_listing_scan').clone( true ) );
  $("#mtg_cards_listing_scan").val("");
  $("#remove_scan_button").remove();
  $('#mtg_cards_listing_scan').trigger('change');
}

