$(document).ready(function() {
  
  $("#user_username").change(function(){  
		var error = $.ajax({
			url: "/users/validate_username_ajax.json?desired_username=" + $(this).val(),
			type: "GET",
			dataType: "json",
			success: function(data) {
				$("#user_username").siblings('span.error').remove();
				$("#user_username").siblings('span.hint').remove();
				if(data != null){
					$("#user_username").parent().append('<span class="error">'+ data +'</span>');
				}
				else {
					$("#user_username").parent().append('<span class="hint" style="color:green;">This username is available!</span>');		
				}
		  }
		}); 		
  });
  
  $("#user_account_attributes_paypal_username").focusout(function(evt) {
		$(this).parent().removeClass('field_with_errors');
    if ($(this).val() != "") {
      verifyPaypalAccount();
    } else {
  	  $(this).siblings('span.error').remove();
			$(this).siblings('span.hint').remove();
      $(this).parent().append('<span class="hint">first & last name must match PayPal account</span>'); 
    }
  });
  
  $("#sign_up_button").click(function(){
    if ( !$('#user_account_attributes_address_verification').val() ) {
      myCustomAlertBox("Please verify your address information prior to continuing");
    } else if (!$("#AcknowledgeCheckBox").attr('checked')) {
      myCustomAlertBox("Please accept Terms and Conditions");      
    } else {
      $(this).siblings('input').trigger('click'); 
    }
  });
  
});

function verifyPaypalAccount() {
  var target = $("#user_account_attributes_paypal_username");
  var path = "/account/sign_up/verify_paypal";
  var params = [{ name:"first_name",  value:$("#user_account_attributes_first_name").val() },
                { name:"last_name",   value:$("#user_account_attributes_last_name").val() },
                { name:"email",       value:target.val() } ];
  var url = path + "?" + $.param(params);  
	$.ajax({
		url: url,
		type: "GET",
		dataType: "json",
		beforeSend: function ( xhr ) {
		  target.siblings('span.error').remove();
			target.siblings('span.hint').remove();
      target.parent().append('<span class="hint">Confirming Account...</span>'); 
    },
    error: function (xhr, ajaxOptions, thrownError) {
		  target.siblings('span.error').remove();
			target.siblings('span.hint').remove();
      target.parent().append('<span class="error">Error Confirming Account...</span>');
    },
		success: function(data) {
			target.siblings('span.error').remove();
			target.siblings('span.hint').remove();
			if(data == "verified") {
				target.parent().append('<span class="hint" style="color:green;">PayPal Account Verified!</span>');		
			}
			else {
				target.parent().append('<span class="error">' + data + '</span>');						  
			}
		}
	});
}