<% title 'My Videos' %>
<% page_description 'My Videos' %>

<% @video_series_index = current_user.team_z_profile.mtgo_video_series.order('created_at DESC').page(params[:page]).per(15) %>

<h1>My Videos</h1>

<div id='content'>
  <%= link_to 'Create New Video Series', new_team_z_mtgo_video_series_path, :class => 'button right spacer mr mb-m' %>
  <br/>  
  <%= render :partial => 'index_table', :locals => { :video_series_index => @video_series_index } %>  
</div>