<% title 'Create New Video Series' %>
<% page_description 'Create New Video Series' %>

<h1>Create New Video Series</h1>

<%= simple_form_for @video_series, :method => :post do |f| %>

  <%= render :partial => 'form', :locals => { :video_series => @video_series, :f => f } %>
  <div class='center_wrap'>
    <%= link_to_add_fields({:name => "+ Add Video", :form => f, :association => 'videos', :class => 'mr center button'}) %>
    <%= f.submit 'Create Video Series' %>
  </div>
  
<% end %>