<div class="fields card_reference_field" style='position:relative;width:450px;text-align:center;'>

  <%= f.text_field   :card_name,  :class => "mr search_text ui-autocomplete-input", 
                                  :placeholder => "Card Name..." , 
                                  "data-autocomplete" => mtg_cards_autocomplete_name_path %>  
  <div class='center pr-m'></div>
  <%= f.number_field :quantity,   :value => (f.object.quantity || 1 rescue 1), 
                                  :class => 'mr-m card_quantity_select numeric', 'data-oldval' => (f.object.quantity || 1 rescue 1),
                                  :style => 'width:50px;line-height:18px' %>
                               
  <div class='center'>                                
    <%= f.check_box :deck_section, {:checked => (f.object.deck_section == 'Sideboard')}, 'Sideboard', 'Mainboard' %>
    Sideboard
  </div>
  
  <%# f.input :card_name,         :label => "Card Name",
                                  :input_html => {  },
                                  :required => true %>                              

  <%# f.input :quantity,          :input_html => {:value => (f.object.quantity || 1 rescue 1), :class => 'card_quantity_select', 'data-oldval' => (f.object.quantity || 1 rescue 1)},
                                  :required => true %>                                  


  <%# f.label " " %>
  <%#= f.input :unprocessed_section, :label => 'Sideboard',
                                    :as => :boolean,
                                    :required => false,
                                    :checked_value => 'Sideboard', 
                                    :unchecked_value => '',
                                    :input_html => { :check => (f.object.deck_section == 'Sideboard') } %>
                                  
  <div style='position:absolute;top:5px;right:25px;'>
    <%= link_to_remove_fields(:name => "<b>X</b>".html_safe, :form => f, :class => 'button2 remove_card') %>
  </div>

</div>
