<%
  return_array = Array.new
  @decklists.each do |decklist|
    computed_label = 
      %{<div class=\"\">
        <span>
          #{decklist.name}&nbsp;
        </span>
        <span class=\"right\">
          #{display_symbols(decklist.mana_string)}
        </span>
        <br class=\"spacer\"/>
      </div>
      <div style=\"font-size:70%; border-bottom: 1px dotted #eee;\">
        <span>
          #{decklist.play_format}&nbsp;
        </span>
        <span class=\"right\">
          #{display_time(decklist.created_at)}
        </span>
      </div>}
    computed_value = "#{decklist.id} - #{decklist.name}"
    return_array << Hash[ "label" => computed_label, "value" => computed_value ]
  end
%>

<%= return_array.to_json.html_safe %>
  
