<% title 'Create New Decklist' %>
<% page_description 'Create New Decklist' %>

<h1>Create New Decklist</h1>

<%= simple_form_for @decklist, :method => :post do |f| %>

  <%= render :partial => 'form', :locals => { :decklist => @decklist, :f => f } %>
  <div class='center_wrap'>
    <%= link_to_add_fields({:name => "+ Add Card", :form => f, :association => 'card_references', :class => 'mr center button add_card'}) %>
    <%= f.submit 'Create Decklist' %>
  </div>
  
<% end %>