CKEDITOR.dialog.add("insert_mtg_decklist",function(e){	
	return{
		title:'insert a decklist',
		resizable : CKEDITOR.DIALOG_RESIZE_NONE,
		minWidth:600,
		minHeight:550,
		onLoad:function(){ 
			dialog = this; 
			this.setupContent();
      $.activateChosenSelect();
		},
		onOk:function( data ){
			if ( $('#decklist_insert_preview').html().length > 0 ) {
  			e.insertElement( CKEDITOR.dom.element.createFromHtml("<div contenteditable='false'>" + $('#decklist_insert_preview').html() + "</div>"));
  		}
		},
		contents:[
			{	id:"insert_decklist",
				name:'info',
				label:'Info',
				elements:[{	type:'vbox',
          				  padding:'10',
            				children:[
            				          { type:'html',
				                        html: "<input class='ui-autocomplete-input' id='decklist_name_input' data-id-element='#id_field' style='width:300px;background:#fff;' data-autocomplete='/mtg/decklists/autocomplete_name.json' data-type='search' placeholder='Decklist Name...' type='text' onkeypress='deleteDecklistShow()'>",
				                      },			                  
				                      { type:'html',
  			                        html: "<div id='decklist_insert_preview' style='width:520px;padding:10px;'></div>",
  			                      }]
				}]
			}
		]
	};
});

/*
$('#decklist_author_id_input').chosen().live('change', function () {
deleteDecklistShow();
});
*/

$('#decklist_name_input').live('railsAutocomplete.select', function(event, data){
  updateDecklistShow();
});


function updateDecklistShow(){
  var url = "/mtg/decklists/" + $('#decklist_name_input').val();
  $.ajax({
    type: "GET",
    url: url,
    dataType: "html",
    async: false,
    success : function(data) {
      if (data.length >= 1) {
        $('#decklist_insert_preview').html(data);
      }
    }   
  });
}

function updateDecklistShow(){
  var url = "/mtg/decklists/" + $('#decklist_name_input').val();
  $.ajax({
    type: "GET",
    url: url,
    dataType: "html",
    async: false,
    success : function(data) {
      if (data.length >= 1) {
        $('#decklist_insert_preview').html(data);
      }
    }   
  });
}

function deleteDecklistShow(){
  $('#decklist_insert_preview').html('');
}