<%= provide :heading, "Welcome to MTGBazaar!" %>

<p>Hello <%= @resource.username %></p>

<p>Please confirm your account through the link below:</p>

<p style="text-align:center;"><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br class="spacer"/>

<h3>MTGBazaar security tips:</h3>
  <p>Never give out your password</p>
  <p>MTGBazaar personnel will never ask for your password</p>
  <p>Use a different password than you do for your email account</p>
  <p>Keep your security question secure. This can be used to confirm your identity</p>  
</ul>