<%= provide :heading, "Welcome to MTGBazaar!" %>

<p>Hello <%= @resource.username %></p>

<p>Please confirm your account through the link below:</p>

<p style="text-align:center;"><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>