<%= provide :heading, "Reset Password Instructions" %>

<p>Hello <%= @resource.username %></p>

<p>Someone has requested a link to change your password.</p>

<br/>

<p style="text-align:center;"><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<br/>

<p>If you did not make this request, please disregard this message.</p>
<p>Your password won't change until you access the link above and create a new one.</p>